#u456-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u521-4.AccordionPanelTabOpen p,#u521-4
{
	font-family: passion-one-n4, sans-serif;
}

#u537-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u543-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u551-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u558-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u564-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u619-6,#u452-10
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u452-3,#u452-5,#u452-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u597-9
{
	font-family: pt-sans-n4, sans-serif;
}

