.version.submissions /* version checker */
{
	color: #0000EB;
	background-color: #0CBD11;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dc_bg_mobilemedium.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 894.9500000000013px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu453
{
	width: 0.01px;
}

#u453
{
	z-index: 79;
	min-height: 80px;
	padding-bottom: 23px;
}

#u454
{
	z-index: 84;
	width: 211px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 89px;
}

#u453-bw
{
	z-index: 79;
	min-height: 80px;
}

#u456-4
{
	z-index: 80;
	min-height: 22px;
}

#u456-4-bw
{
	z-index: 80;
	min-height: 22px;
	margin-top: 81px;
}

#accordionu519
{
	z-index: 42;
}

#u520
{
	z-index: 43;
}

#u521-3
{
	z-index: 44;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u521-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u521-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u521-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u522
{
	z-index: 47;
	padding-bottom: 1px;
}

#menuu532
{
	z-index: 48;
	width: 340px;
	margin-right: -10000px;
	left: 19px;
}

#u533
{
	width: 340px;
}

#u536
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u537-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u541
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u543-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u550
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u551-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u557
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u558-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u540,#u547,#u554,#u561
{
	width: 340px;
	margin-top: 2px;
}

#u562
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u536.MuseMenuActive,#u541.MuseMenuActive,#u550.MuseMenuActive,#u557.MuseMenuActive,#u562.MuseMenuActive
{
	width: 340px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u564-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u536.MuseMenuActive #u537-4,#u541.MuseMenuActive #u543-4,#u550.MuseMenuActive #u551-4,#u557.MuseMenuActive #u558-4,#u562.MuseMenuActive #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#accordionu519-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 42;
	top: 98px;
}

#u619-6
{
	z-index: 36;
	width: 381px;
	min-height: 33px;
	top: 103px;
	left: 0px;
}

#u618
{
	z-index: 31;
	height: 33px;
}

#u618-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 31;
	top: 103px;
}

#pu637-4
{
	width: 0.01px;
	margin-left: 30px;
}

#u637-4
{
	z-index: 32;
	width: 49px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u570
{
	z-index: 86;
	width: 301px;
	height: 33px;
	margin-right: -10000px;
	left: 49px;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu599-13
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 18px;
}

#u599-13
{
	z-index: 3;
	width: 341px;
	min-height: 340px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: pt-serif-caption, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 11px;
}

#u600
{
	z-index: 16;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
	left: 87px;
}

#u602
{
	z-index: 18;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u595
{
	z-index: 2;
	width: 364px;
	height: 51px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../../images/u595-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: fixed;
	top: 447px;
	left: 7px;
}

#u595::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#pu451
{
	width: 0.01px;
	margin-top: 27px;
}

#u451,#u451-bw
{
	z-index: 20;
	height: 40px;
}

#u452-10
{
	z-index: 21;
	min-height: 32px;
}

#u452-10-bw
{
	z-index: 21;
	min-height: 32px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

