.Title
{
	font-family: lato-n9, sans-serif;
}

.Main-text
{
	font-family: pt-sans-n4, sans-serif;
}

.Schedule-author
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Schedule-item
{
	font-family: pt-sans-n7, sans-serif;
}

.Centered-title
{
	font-family: lato-n7, sans-serif;
}

.Centered-subtitled,.Centeres-subtitled-small
{
	font-family: lato-n3, sans-serif;
}

#u456-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u521-3.AccordionPanelTabOpen p,#u521-3
{
	font-family: passion-one-n4, sans-serif;
}

#u537-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u543-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u551-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u558-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u564-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u637-4
{
	font-family: passion-one-n4, sans-serif;
}

#u619-6,#u452-10
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u452-3,#u452-5,#u452-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u571-5,#u571-8,#u571-11,#u571-14,#u571-17,#u571-20
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u571-2,#u571-26
{
	font-family: pt-sans-n7, sans-serif;
}

#u571-54
{
	font-family: pt-sans-n4, sans-serif;
}

#u571-23,#u571-24,#u576-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

