.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.Title,.schedule-section,.mob_SectionTitle
{
	font-family: lato-n9, sans-serif;
}

.mob_OrganizerAffiliation,.mob_ShortText
{
	font-family: lato-i3, sans-serif;
}

.Main-text,.Schedule-time,.mob_OrganizerName,.CFP-text
{
	font-family: lato-n4, sans-serif;
}

.Schedule-item,.CFP-subtitle
{
	font-family: lato-i7, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation,.Centered-subtitle-spaced
{
	font-family: lato-n3, sans-serif;
}

#u1060-6
{
	font-family: rosario-n7, sans-serif;
}

#u1033-4
{
	font-family: lato-n9, sans-serif;
}

#u1892-4
{
	font-family: lato-n9, sans-serif;
}

#u2581-4
{
	font-family: lato-n9, sans-serif;
}

#u1761-4
{
	font-family: lato-n9, sans-serif;
}

#u1796-4
{
	font-family: lato-n9, sans-serif;
}

#u1810-4
{
	font-family: lato-n9, sans-serif;
}

#u1015-11
{
	font-family: lato-n3, sans-serif;
}

#u2161-8
{
	font-family: lato-i1, sans-serif;
}

#u2163-3
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2161-5,#u2161-18,#u2161-21,#u2161-24,#u2161-27,#u2161-30,#u2163-6
{
	font-family: lato-n7, sans-serif;
}

#u2163-4
{
	font-family: lato-i4, sans-serif;
}

#u1061-6,#u2163,#u2162-19
{
	font-family: lato-n4, sans-serif;
}

#u1012-4,#u2161-15,#u2163-5,#u2162-5
{
	font-family: lato-n9, sans-serif;
}

#u1874.TabbedPanelsTabSelected #u1875-5 p,#u1874.TabbedPanelsTabSelected #u1875-5 span,#u1870.TabbedPanelsTabSelected #u1873-5 p,#u1870.TabbedPanelsTabSelected #u1873-5 span,#u1878.TabbedPanelsTabSelected #u1881-5 p,#u1878.TabbedPanelsTabSelected #u1881-5 span
{
	font-family: lato-n9, sans-serif;
}

#u1875-5
{
	font-family: lato-n4, sans-serif;
}

#u1881-5
{
	font-family: lato-n4, sans-serif;
}

#u1873-5
{
	font-family: lato-n4, sans-serif;
}

