.version.index /* version checker */
{
	color: #00000E;
	background-color: #09DF19;
}

.html
{
	background: #E5EBFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 685.9999999999933px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 135px;
	width: 0.01px;
}

#pu1057
{
	width: 0.01px;
	padding-bottom: 111px;
	margin-left: -100px;
}

#u1057
{
	z-index: 98;
	height: 111px;
	top: 0px;
}

#u1057-bw
{
	z-index: 98;
}

#u1336
{
	z-index: 148;
	width: 300px;
	top: 10px;
	left: 50%;
	margin-left: -525px;
}

#u1336_img
{
	padding-right: 11px;
}

#u1060-6
{
	z-index: 136;
	width: 459px;
	min-height: 62px;
	top: 4px;
	left: 50%;
	margin-left: -239px;
}

#u1061-6
{
	z-index: 142;
	width: 294px;
	min-height: 46px;
	top: 20px;
	left: 50%;
	margin-left: 231px;
}

#menuu1021
{
	z-index: 99;
	width: 764px;
	top: 70px;
	left: 50%;
	margin-left: -239px;
}

#u1029
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1032
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1032:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1032:active #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1043
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 127px;
}

#u1046
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032.MuseMenuActive,#u1046:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1046:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1046.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1048-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032.MuseMenuActive #u1033-4,#u1046:hover #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1046:active #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1046.MuseMenuActive #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1889
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 254px;
}

#u1890
{
	width: 126px;
	padding-bottom: 14px;
}

#u1890:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1890:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1892-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1890:hover #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1890:active #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1759
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 382px;
}

#u1760
{
	width: 126px;
	padding-bottom: 14px;
}

#u1890.MuseMenuActive,#u1760:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1760:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1761-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1890.MuseMenuActive #u1892-4,#u1760:hover #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1760:active #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1792
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 510px;
}

#u1795
{
	width: 126px;
	padding-bottom: 14px;
}

#u1760.MuseMenuActive,#u1795:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1795:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1796-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1760.MuseMenuActive #u1761-4,#u1795:hover #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1795:active #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1807
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 638px;
}

#u1808
{
	width: 126px;
	padding-bottom: 14px;
}

#u1795.MuseMenuActive,#u1808:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1810-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1795.MuseMenuActive #u1796-4,#u1808:hover #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808:active #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808.MuseMenuActive #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	z-index: 26;
	width: 286px;
	height: 372px;
	top: 89px;
	left: 50%;
	margin-left: -525px;
}

#u1012-4
{
	z-index: 27;
	width: 243px;
	min-height: 36px;
	top: 144px;
	left: 50%;
	margin-left: -505px;
}

#pu2224-3
{
	width: 0.01px;
	margin-top: 69px;
}

#u2224-3
{
	z-index: 2;
	width: 1050px;
	min-height: 395px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #B0CEE1;
	background-color: rgba(172,204,224,0.95);
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(172,204,224,0.95);
}

#u1108-21
{
	z-index: 5;
	width: 724px;
	min-height: 341px;
	background-color: transparent;
	text-indent: 42px;
	color: #000000;
	line-height: 22px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 306px;
}

#u1108-5
{
	font-weight: 700;
}

#u1108-2,#u1108-4,#u1108-7,#u1108-9,#u1108-11,#u1108-15
{
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u1108-13,#u1108-17,#u1108-19
{
	font-size: 18px;
}

#pu1014
{
	width: 0.01px;
	padding-bottom: 407px;
	margin-left: -100px;
	margin-top: -395px;
}

#u1014
{
	z-index: 86;
	height: 59px;
	bottom: 0px;
}

#u1014-bw
{
	z-index: 86;
}

#u1015-11
{
	z-index: 87;
	width: 1050px;
	min-height: 59px;
	bottom: 0px;
	left: 50%;
	margin-left: -525px;
}

#u2161-28
{
	z-index: 31;
	width: 65px;
	min-height: 204px;
	top: 180px;
	left: 50%;
	margin-left: -505px;
}

#u2163-8
{
	z-index: 78;
	width: 243px;
	min-height: 62px;
	top: 384px;
	left: 50%;
	margin-left: -505px;
}

#u2162-19
{
	z-index: 59;
	width: 182px;
	min-height: 240px;
	top: 180px;
	left: 50%;
	margin-left: -430px;
}

body
{
	position: relative;
	min-width: 1050px;
	padding-top: 33px;
	padding-bottom: 23px;
}

#page .verticalspacer
{
	clear: both;
}

