#u1057
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.38);
	background: -webkit-gradient(linear, left center, right center, from(rgba(56,58,49,0.95)),color-stop(100%, rgba(26,32,38,0.95)));
	background: -webkit-linear-gradient(left,rgba(56,58,49,0.95) ,rgba(26,32,38,0.95) 100%);
	background: linear-gradient(to right,rgba(56,58,49,0.95) ,rgba(26,32,38,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2383A31, endColorstr=#F21A2026, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2383A31', endColorstr='#F21A2026', GradientType=1)";
	position: fixed;
	background-size: 100% auto;
}

#u1336
{
	background-color: transparent;
	position: fixed;
}

#u1060-6
{
	background-color: transparent;
	color: #E1F56E;
	line-height: 31px;
	text-align: right;
	text-transform: uppercase;
	font-size: 29px;
	font-family: rosario, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u1060-2
{
	padding-left: -2px;
}

#u1060-4
{
	padding-left: -2px;
}

#u1061-6
{
	background-color: transparent;
	color: #E5EBFF;
	line-height: 19px;
	text-align: left;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u1061-2
{
	padding-top: 3px;
}

#u1061-4
{
	padding-top: 3px;
}

#menuu1021
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1032
{
	background-color: #E5EBFF;
	position: relative;
}

#u1032:hover
{
	background-color: #FFE02E;
}

#u1032:active
{
	background-color: #8E7D19;
}

#u1033-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1046
{
	background-color: #E5EBFF;
	position: relative;
}

#u1046:hover
{
	background-color: #FFE02E;
}

#u1046:active
{
	background-color: #8E7D19;
}

#u1048-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1890
{
	background-color: #E5EBFF;
	position: relative;
}

#u1890:hover
{
	background-color: #FFE02E;
}

#u1890:active
{
	background-color: #8E7D19;
}

#u1892-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1760
{
	background-color: #E5EBFF;
	position: relative;
}

#u1760:hover
{
	background-color: #FFE02E;
}

#u1760:active
{
	background-color: #8E7D19;
}

#u1761-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1795
{
	background-color: #E5EBFF;
	position: relative;
}

#u1795:hover
{
	background-color: #FFE02E;
}

#u1795:active
{
	background-color: #8E7D19;
}

#u1796-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1029,#u1043,#u1889,#u1759,#u1792,#u1807
{
	background-color: transparent;
	position: relative;
}

#u1808
{
	background-color: #E5EBFF;
	position: relative;
}

#u1808:hover
{
	background-color: #FFE02E;
}

#u1808:active
{
	background-color: #8E7D19;
}

#u1032.MuseMenuActive,#u1046.MuseMenuActive,#u1890.MuseMenuActive,#u1760.MuseMenuActive,#u1795.MuseMenuActive,#u1808.MuseMenuActive
{
	background-color: #E1F56E;
}

#u1810-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1013
{
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.285);
	background: transparent url("../images/u1013-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: fixed;
}

#u1013::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u1012-4
{
	background-color: transparent;
	color: #262916;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: fixed;
}

#u1012-2
{
	padding-top: 10px;
}

#u2161-26
{
	background-color: transparent;
	line-height: 15px;
	text-align: right;
	font-family: lato, sans-serif;
	position: relative;
}

#u2161-5
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161-2
{
	letter-spacing: 1px;
	font-weight: 900;
}

#u2161-8
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161-9
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161-12
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161-15
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161-18
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161-21
{
	padding-top: 10px;
	font-weight: 700;
}

#u2161,#u2161-3,#u2161-4,#u2161-6,#u2161-7,#u2161-10,#u2161-11,#u2161-13,#u2161-14,#u2161-16,#u2161-17,#u2161-19,#u2161-20
{
	font-weight: 900;
}

#u2161-24
{
	padding-top: 10px;
	font-weight: 900;
}

#u2162-18
{
	background-color: transparent;
	line-height: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2162-2
{
	text-align: left;
	padding-top: 10px;
}

#u2162-4
{
	text-align: left;
	padding-top: 10px;
}

#u2162-6
{
	text-align: right;
	padding-top: 10px;
}

#u2162-8
{
	text-align: left;
	padding-top: 10px;
}

#u2162-10
{
	text-align: left;
	padding-top: 10px;
}

#u2162-12
{
	text-align: left;
	padding-top: 10px;
}

#u2162-14
{
	text-align: left;
	padding-top: 10px;
}

#u2162-16
{
	text-align: left;
	padding-top: 10px;
}

#u1014
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.35600000000000004);
	background: -webkit-gradient(linear, left center, right center, from(rgba(35,30,11,0.8)),color-stop(100%, rgba(12,28,43,0.98)));
	background: -webkit-linear-gradient(left,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	background: linear-gradient(to right,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC231E0B, endColorstr=#F90C1C2B, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC231E0B', endColorstr='#F90C1C2B', GradientType=1)";
	position: fixed;
	background-size: 100% auto;
}

#u1015-11
{
	background-color: transparent;
	color: #DFE6FF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1015
{
	color: #E5EBFF;
}

#u1015-6
{
	color: #E1F56E;
}

#u2163-8
{
	background-color: transparent;
	font-weight: 700;
	position: fixed;
}

#u2163-3
{
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2163
{
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	line-height: 17px;
}

#u2163-6
{
	font-size: 15px;
	text-align: left;
	line-height: 18px;
	padding-top: 10px;
	font-family: lato, sans-serif;
}

#u2163-4
{
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u2163-5
{
	font-family: lato, sans-serif;
	font-weight: 900;
}

