.version.program_agenda /* version checker */
{
	color: #0000E9;
	background-color: #8D4E2E;
}

.html
{
	background: #FFFFFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 1162.8666397270115px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 40px;
	width: 0.01px;
}

#pu1057
{
	width: 0.01px;
	padding-bottom: 111px;
	margin-left: -100px;
}

#u1057
{
	z-index: 525;
	height: 111px;
	top: 0px;
}

#u1057-bw
{
	z-index: 525;
}

#u1336
{
	z-index: 575;
	width: 300px;
	top: 10px;
	left: 50%;
	margin-left: -525px;
}

#u1336_img
{
	padding-right: 11px;
}

#u1060-6
{
	z-index: 563;
	width: 459px;
	min-height: 62px;
	top: 4px;
	left: 50%;
	margin-left: -239px;
}

#u1061-6
{
	z-index: 569;
	width: 294px;
	min-height: 46px;
	top: 20px;
	left: 50%;
	margin-left: 231px;
}

#menuu1021
{
	z-index: 526;
	width: 764px;
	top: 70px;
	left: 50%;
	margin-left: -239px;
}

#u1029
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1032
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1032:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1032:active #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1043
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 127px;
}

#u1046
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032.MuseMenuActive,#u1046:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1046:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1046.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1048-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032.MuseMenuActive #u1033-4,#u1046:hover #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1046:active #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1046.MuseMenuActive #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1889
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 254px;
}

#u1890
{
	width: 126px;
	padding-bottom: 14px;
}

#u1890:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1890:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1892-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1890:hover #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1890:active #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1759
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 382px;
}

#u1760
{
	width: 126px;
	padding-bottom: 14px;
}

#u1890.MuseMenuActive,#u1760:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1760:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1761-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1890.MuseMenuActive #u1892-4,#u1760:hover #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1760:active #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1792
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 510px;
}

#u1795
{
	width: 126px;
	padding-bottom: 14px;
}

#u1760.MuseMenuActive,#u1795:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1795:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1796-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1760.MuseMenuActive #u1761-4,#u1795:hover #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1795:active #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1807
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 638px;
}

#u1808
{
	width: 126px;
	padding-bottom: 14px;
}

#u1795.MuseMenuActive,#u1808:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1810-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1795.MuseMenuActive #u1796-4,#u1808:hover #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808:active #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808.MuseMenuActive #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	z-index: 453;
	width: 286px;
	height: 372px;
	top: 89px;
	left: 50%;
	margin-left: -525px;
}

#pu1882
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 31px;
}

#u1882
{
	z-index: 2;
	height: 58px;
	background-color: #E1F56E;
}

#u1882-bw
{
	z-index: 2;
	height: 58px;
}

#tab-panelu1858
{
	z-index: 3;
	width: 724px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 406px;
}

#u1869
{
	z-index: 4;
	width: 724px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1874
{
	z-index: 5;
	width: 242px;
	min-height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #E1F56E;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1874:hover
{
	border-color: #999999;
	background-color: #9BCEEF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1874:active
{
	border-color: #999999;
	background-color: #4296CF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1874.TabbedPanelsTabSelected
{
	border-color: #262916;
	background-color: #E5EBFF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1875-5
{
	z-index: 6;
	width: 242px;
	min-height: 24px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1874:hover #u1875-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1874:active #u1875-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1878
{
	z-index: 11;
	width: 242px;
	min-height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #E1F56E;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u1878:hover
{
	border-color: #999999;
	background-color: #9BCEEF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1878:active
{
	border-color: #999999;
	background-color: #4296CF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1878.TabbedPanelsTabSelected
{
	border-color: #262916;
	background-color: #E5EBFF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1881-5
{
	z-index: 12;
	width: 242px;
	min-height: 24px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1878:hover #u1881-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1878:active #u1881-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1870
{
	z-index: 17;
	width: 242px;
	min-height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #E1F56E;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 482px;
}

#u1870:hover
{
	border-color: #999999;
	background-color: #9BCEEF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1870:active
{
	border-color: #999999;
	background-color: #4296CF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1870.TabbedPanelsTabSelected
{
	border-color: #262916;
	background-color: #E5EBFF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1874.TabbedPanelsTabSelected::before,#u1878.TabbedPanelsTabSelected::before,#u1870.TabbedPanelsTabSelected::before
{
	box-shadow: none;
}

#u1873-5
{
	z-index: 18;
	width: 242px;
	min-height: 24px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1870:hover #u1873-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1870:active #u1873-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1874.TabbedPanelsTabSelected #u1875-5,#u1878.TabbedPanelsTabSelected #u1881-5,#u1870.TabbedPanelsTabSelected #u1873-5
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1874.TabbedPanelsTabSelected #u1875-5 p,#u1874.TabbedPanelsTabSelected #u1875-5 span,#u1878.TabbedPanelsTabSelected #u1881-5 p,#u1878.TabbedPanelsTabSelected #u1881-5 span,#u1870.TabbedPanelsTabSelected #u1873-5 p,#u1870.TabbedPanelsTabSelected #u1873-5 span
{
	font-family: lato, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u1859
{
	z-index: 23;
	width: 724px;
	background-color: transparent;
	position: relative;
}

#u1863
{
	z-index: 24;
	width: 724px;
	border-color: #999999;
	background-color: #E5EBFF;
	padding-bottom: 101px;
	margin-right: -10000px;
	position: relative;
}

#u1865-62
{
	z-index: 105;
	width: 97px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1864-80
{
	z-index: 25;
	width: 572px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 132px;
}

#u1860
{
	z-index: 167;
	width: 724px;
	border-color: #999999;
	background-color: #E5EBFF;
	padding-bottom: 12px;
	margin-right: -10000px;
	position: relative;
}

#u1862-62
{
	z-index: 248;
	width: 96px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1861-80
{
	z-index: 168;
	width: 573px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 131px;
}

#u1866
{
	z-index: 310;
	width: 724px;
	border-color: #999999;
	background-color: #E5EBFF;
	padding-bottom: 12px;
	margin-right: -10000px;
	position: relative;
}

#u1867-62
{
	z-index: 391;
	width: 96px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1865-7,#u1865-8,#u1865-9,#u1865-10,#u1865-11,#u1865-12,#u1865-13,#u1865-14,#u1865-15,#u1865-16,#u1865-21,#u1865-22,#u1865-23,#u1865-24,#u1865-35,#u1865-39,#u1865-43,#u1865-44,#u1865-45,#u1865-46,#u1865-53,#u1862-7,#u1862-8,#u1862-9,#u1862-10,#u1862-11,#u1862-12,#u1862-13,#u1862-14,#u1862-15,#u1862-16,#u1862-21,#u1862-22,#u1862-23,#u1862-24,#u1862-25,#u1862-36,#u1862-40,#u1862-44,#u1862-45,#u1862-46,#u1862-47,#u1862-54,#u1862-56,#u1867-7,#u1867-8,#u1867-9,#u1867-10,#u1867-11,#u1867-12,#u1867-13,#u1867-14,#u1867-15,#u1867-16,#u1867-21,#u1867-22,#u1867-23,#u1867-24,#u1867-25,#u1867-36,#u1867-40,#u1867-44,#u1867-45,#u1867-46,#u1867-47,#u1867-54,#u1867-56
{
	text-align: right;
	line-height: 18px;
	color: #4296CF;
}

#u1865-2,#u1865-4,#u1865-6,#u1865-18,#u1865-20,#u1865-30,#u1865-32,#u1865-34,#u1865-48,#u1865-50,#u1865-52,#u1865-58,#u1865-60,#u1862-2,#u1862-4,#u1862-6,#u1862-18,#u1862-20,#u1862-31,#u1862-33,#u1862-35,#u1862-49,#u1862-51,#u1862-53,#u1862-58,#u1862-60,#u1867-2,#u1867-4,#u1867-6,#u1867-18,#u1867-20,#u1867-31,#u1867-33,#u1867-35,#u1867-49,#u1867-51,#u1867-53,#u1867-58,#u1867-60
{
	text-align: right;
	line-height: 19px;
	color: #4296CF;
}

#u1868-80
{
	z-index: 311;
	width: 573px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 131px;
}

#u1865-25,#u1865-28,#u1865-54,#u1864-8,#u1864-10,#u1864-12,#u1864-14,#u1864-16,#u1864-18,#u1864-20,#u1864-22,#u1864-24,#u1864-26,#u1864-32,#u1864-34,#u1864-36,#u1864-38,#u1864-40,#u1864-42,#u1864-50,#u1864-54,#u1864-56,#u1864-58,#u1864-60,#u1864-62,#u1864-70,#u1864-72,#u1862-29,#u1861-8,#u1861-10,#u1861-12,#u1861-14,#u1861-16,#u1861-18,#u1861-20,#u1861-22,#u1861-24,#u1861-26,#u1861-32,#u1861-34,#u1861-36,#u1861-38,#u1861-40,#u1861-42,#u1861-50,#u1861-54,#u1861-56,#u1861-58,#u1861-60,#u1861-62,#u1861-70,#u1861-72,#u1867-29,#u1868-8,#u1868-10,#u1868-12,#u1868-14,#u1868-16,#u1868-18,#u1868-20,#u1868-22,#u1868-24,#u1868-26,#u1868-32,#u1868-34,#u1868-36,#u1868-38,#u1868-40,#u1868-42,#u1868-50,#u1868-54,#u1868-56,#u1868-58,#u1868-60,#u1868-62,#u1868-70,#u1868-72
{
	line-height: 18px;
}

#u1865-56,#u1864-2,#u1864-4,#u1864-6,#u1864-28,#u1864-30,#u1864-44,#u1864-46,#u1864-48,#u1864-64,#u1864-66,#u1864-68,#u1864-74,#u1864-76,#u1864-78,#u1861-2,#u1861-4,#u1861-6,#u1861-28,#u1861-30,#u1861-44,#u1861-46,#u1861-48,#u1861-64,#u1861-66,#u1861-68,#u1861-74,#u1861-76,#u1861-78,#u1868-2,#u1868-4,#u1868-6,#u1868-28,#u1868-30,#u1868-44,#u1868-46,#u1868-48,#u1868-64,#u1868-66,#u1868-68,#u1868-74,#u1868-76,#u1868-78
{
	line-height: 19px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#pu1014
{
	width: 0.01px;
	padding-bottom: 443px;
	margin-left: -100px;
	margin-top: -1240px;
}

#u1014
{
	z-index: 513;
	height: 59px;
	bottom: 0px;
}

#u1014-bw
{
	z-index: 513;
}

#u1015-11
{
	z-index: 514;
	width: 1050px;
	min-height: 59px;
	bottom: 0px;
	left: 50%;
	margin-left: -525px;
}

#u1012-4
{
	z-index: 454;
	width: 243px;
	min-height: 36px;
	top: 144px;
	left: 50%;
	margin-left: -505px;
}

#u2161-28
{
	z-index: 458;
	width: 65px;
	min-height: 204px;
	top: 180px;
	left: 50%;
	margin-left: -505px;
}

#u2163-8
{
	z-index: 505;
	width: 243px;
	min-height: 62px;
	top: 384px;
	left: 50%;
	margin-left: -505px;
}

#u2162-19
{
	z-index: 486;
	width: 173px;
	min-height: 240px;
	top: 180px;
	left: 50%;
	margin-left: -430px;
}

body
{
	position: relative;
	min-width: 1050px;
	padding-top: 36px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

