.version.team /* version checker */
{
	color: #0000E5;
	background-color: #E480CA;
}

.html
{
	background: #FFFFFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 908px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 96px;
	width: 0.01px;
}

#pu1057
{
	width: 0.01px;
	padding-bottom: 111px;
	margin-left: -100px;
}

#u1057
{
	z-index: 128;
	height: 111px;
	top: 0px;
}

#u1057-bw
{
	z-index: 128;
}

#u1336
{
	z-index: 178;
	width: 300px;
	top: 10px;
	left: 50%;
	margin-left: -525px;
}

#u1336_img
{
	padding-right: 11px;
}

#u1060-6
{
	z-index: 166;
	width: 459px;
	min-height: 62px;
	top: 4px;
	left: 50%;
	margin-left: -239px;
}

#u1061-6
{
	z-index: 172;
	width: 294px;
	min-height: 46px;
	top: 20px;
	left: 50%;
	margin-left: 231px;
}

#menuu1021
{
	z-index: 129;
	width: 764px;
	top: 70px;
	left: 50%;
	margin-left: -239px;
}

#u1029
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1032
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1032:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1032:active #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1889
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 127px;
}

#u1890
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032.MuseMenuActive,#u1890:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1890:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1890.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1892-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032.MuseMenuActive #u1033-4,#u1890:hover #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1890:active #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1890.MuseMenuActive #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u2576
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 254px;
}

#u2579
{
	width: 126px;
	padding-bottom: 14px;
}

#u2579:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u2579:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u2581-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u2579:hover #u2581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u2579:active #u2581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1759
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 382px;
}

#u1760
{
	width: 126px;
	padding-bottom: 14px;
}

#u2579.MuseMenuActive,#u1760:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1760:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1761-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u2579.MuseMenuActive #u2581-4,#u1760:hover #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1760:active #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1792
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 510px;
}

#u1795
{
	width: 126px;
	padding-bottom: 14px;
}

#u1760.MuseMenuActive,#u1795:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1795:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1796-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1760.MuseMenuActive #u1761-4,#u1795:hover #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1795:active #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1807
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 638px;
}

#u1808
{
	width: 126px;
	padding-bottom: 14px;
}

#u1795.MuseMenuActive,#u1808:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1810-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1795.MuseMenuActive #u1796-4,#u1808:hover #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808:active #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808.MuseMenuActive #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	z-index: 52;
	width: 286px;
	height: 378px;
	top: 89px;
	left: 50%;
	margin-left: -525px;
}

#u1012-4
{
	z-index: 53;
	width: 243px;
	min-height: 36px;
	top: 144px;
	left: 50%;
	margin-left: -505px;
}

#pu1938
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 69px;
}

#u1938
{
	z-index: 2;
	height: 65px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E6EBFF;
	background-color: rgba(229,234,255,0.95);
	-pie-background: rgba(229,234,255,0.95);
}

#u1938-bw
{
	z-index: 2;
	height: 65px;
}

#u1138
{
	z-index: 3;
	width: 764px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #3E4950;
	background-color: rgba(52,64,71,0.95);
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 386px;
	-pie-background: rgba(52,64,71,0.95);
}

#u1136-48
{
	z-index: 4;
	width: 724px;
	min-height: 570px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u1136-2
{
	font-size: 24px;
	line-height: 29px;
	color: #E1F56E;
}

#u1136-4,#u1136-8,#u1136-12,#u1136-16,#u1136-20,#u1136-24,#u1136-28,#u1136-32,#u1136-36,#u1136-40,#u1136-44
{
	line-height: 22px;
}

#pu1014
{
	width: 0.01px;
	padding-bottom: 407px;
	margin-left: -100px;
	margin-top: -668px;
}

#u1014
{
	z-index: 116;
	height: 59px;
	bottom: 0px;
}

#u1014-bw
{
	z-index: 116;
}

#u1015-11
{
	z-index: 117;
	width: 1050px;
	min-height: 59px;
	bottom: 0px;
	left: 50%;
	margin-left: -525px;
}

#u2161-32
{
	z-index: 57;
	width: 65px;
	min-height: 204px;
	top: 180px;
	left: 50%;
	margin-left: -505px;
}

#u2163-8
{
	z-index: 108;
	width: 243px;
	min-height: 62px;
	top: 394px;
	left: 50%;
	margin-left: -505px;
}

#u2162-19
{
	z-index: 89;
	width: 182px;
	min-height: 240px;
	top: 180px;
	left: 50%;
	margin-left: -430px;
}

body
{
	position: relative;
	min-width: 1050px;
	padding-top: 36px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

