.version.authors /* version checker */
{
	color: #000018;
	background-color: #171766;
}

.html
{
	background: #FFFFFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 2293.9999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 121px;
	width: 0.01px;
}

#pu1057
{
	width: 0.01px;
	padding-bottom: 111px;
	margin-left: -100px;
}

#u1057
{
	z-index: 225;
	height: 111px;
	top: 0px;
}

#u1057-bw
{
	z-index: 225;
}

#u1336
{
	z-index: 269;
	width: 300px;
	top: 10px;
	left: 50%;
	margin-left: -525px;
}

#u1336_img
{
	padding-right: 11px;
}

#u1060-6
{
	z-index: 257;
	width: 459px;
	min-height: 62px;
	top: 4px;
	left: 50%;
	margin-left: -239px;
}

#u1061-6
{
	z-index: 263;
	width: 294px;
	min-height: 46px;
	top: 20px;
	left: 50%;
	margin-left: 231px;
}

#allauthors
{
	margin-left: 306px;
	top: -111px;
	margin-bottom: -18px;
	position: relative;
}

#menuu1021
{
	z-index: 226;
	width: 764px;
	top: 70px;
	left: 50%;
	margin-left: -239px;
}

#u1029
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1032
{
	width: 151px;
	padding-bottom: 14px;
}

#u1032:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1032:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1032:active #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1043
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 153px;
}

#u1046
{
	width: 151px;
	padding-bottom: 14px;
}

#u1032.MuseMenuActive,#u1046:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1046:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1048-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032.MuseMenuActive #u1033-4,#u1046:hover #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1046:active #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1434
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 306px;
}

#u1435
{
	width: 151px;
	padding-bottom: 14px;
}

#u1046.MuseMenuActive,#u1435:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1435:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1438-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1046.MuseMenuActive #u1048-4,#u1435:hover #u1438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1435:active #u1438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1022
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 459px;
}

#u1023
{
	width: 151px;
	padding-bottom: 14px;
}

#u1435.MuseMenuActive,#u1023:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1023:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1023.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1025-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1435.MuseMenuActive #u1438-4,#u1023:hover #u1025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1023:active #u1025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1023.MuseMenuActive #u1025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1759
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 612px;
}

#u1760
{
	width: 152px;
	padding-bottom: 14px;
}

#u1760:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u1760:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u1760.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u1761-4
{
	width: 152px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1760:hover #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u1760:active #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u1760.MuseMenuActive #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	z-index: 173;
	width: 286px;
	height: 345px;
	top: 89px;
	left: 50%;
	margin-left: -525px;
}

#pu1139
{
	width: 0.01px;
	margin-top: -1px;
}

#u1139
{
	z-index: 2;
	width: 1050px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E6EBFF;
	background-color: rgba(229,234,255,0.95);
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(229,234,255,0.95);
}

#u1735-125
{
	z-index: 41;
	width: 724px;
	min-height: 1951px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 306px;
}

#u1735-4
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#u1735-16
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	text-indent: 40px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1735-18,#u1735-23,#u1735-28
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
}

#u1735-48 > li:before
{
	content: '•';
}

#u1735-43,#u1735-45,#u1735-47
{
	text-align: justify;
	line-height: 19px;
	text-indent: 0px;
}

#u1735-59,#u1735-62,#u1735-65,#u1735-68
{
	text-align: center;
	line-height: 19px;
	padding-top: 5px;
}

#u1735-8,#u1735-10,#u1735-12,#u1735-14,#u1735-19,#u1735-24,#u1735-29,#u1735-57,#u1735-60,#u1735-63,#u1735-66
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u1735-6,#u1735-21,#u1735-26,#u1735-31,#u1735-36,#u1735-41,#u1735-53,#u1735-54,#u1735-69
{
	text-align: justify;
	line-height: 19px;
}

#u1735-2,#u1735-34,#u1735-37,#u1735-39,#u1735-49,#u1735-51,#u1735-56,#u1735-71
{
	line-height: 29px;
}

#u1735-73,#u1735-80,#u1735-88,#u1735-97,#u1735-105,#u1735-115
{
	line-height: 18px;
}

#u1735-32,#u1735-77,#u1735-78,#u1735-85,#u1735-86,#u1735-90,#u1735-92,#u1735-94,#u1735-95,#u1735-99,#u1735-100,#u1735-102,#u1735-103,#u1735-110,#u1735-112,#u1735-113,#u1735-117,#u1735-119,#u1735-121,#u1735-123
{
	line-height: 19px;
}

#socialscience
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 311px;
	left: 306px;
}

#industry
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 491px;
	left: 306px;
}

#presentation
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 789px;
	left: 306px;
}

#timeline
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 909px;
	left: 306px;
}

#submitting
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1076px;
	left: 306px;
}

#u1749
{
	z-index: 172;
	width: 763px;
	height: 32px;
	background-color: #E5EBFF;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#pu1734
{
	width: 0.01px;
	padding-left: 100px;
	padding-right: 1150px;
	padding-bottom: 483px;
	margin-left: -100px;
	margin-top: -2067px;
}

#u1734
{
	z-index: 3;
	height: 76px;
	background-color: #252816;
}

#u1734-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 106px;
}

#u1012-39
{
	z-index: 174;
	width: 276px;
	min-height: 290px;
	top: 144px;
	left: 50%;
	margin-left: -495px;
}

#u1135-4
{
	z-index: 4;
	width: 724px;
	min-height: 33px;
	background-color: transparent;
	line-height: 36px;
	position: fixed;
	top: 106px;
	left: 306px;
}

#u1135-2
{
	padding-top: 0px;
	color: #E1F56E;
}

#u1733
{
	z-index: 8;
	width: 725px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 144px;
	left: 306px;
}

#buttonu1723
{
	z-index: 36;
	width: 114px;
	border-color: #787878;
	background-color: #252816;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1723:hover
{
	background-color: #42410B;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1723:active
{
	background-color: #000000;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1724-4
{
	z-index: 37;
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#buttonu1723:hover #u1724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 114px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1723:active #u1724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 114px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1720
{
	z-index: 31;
	width: 130px;
	border-color: #787878;
	background-color: #252816;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#buttonu1720:hover
{
	background-color: #42410B;
	width: 130px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1720:active
{
	background-color: #000000;
	width: 130px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1720.ButtonSelected
{
	background-color: #E1F56E;
	width: 130px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1721-4
{
	z-index: 32;
	width: 130px;
	min-height: 35px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#buttonu1720:hover #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1720:active #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1720.ButtonSelected #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1725
{
	z-index: 24;
	width: 114px;
	border-color: #787878;
	background-color: #252816;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#buttonu1725:hover
{
	background-color: #42410B;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1725:active
{
	background-color: #000000;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1726-6
{
	z-index: 25;
	width: 114px;
	min-height: 38px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#buttonu1725:hover #u1726-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1725:active #u1726-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1725.ButtonSelected #u1726-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1728
{
	z-index: 19;
	width: 135px;
	border-color: #787878;
	background-color: #252816;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#buttonu1728:hover
{
	background-color: #42410B;
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1728:active
{
	background-color: #000000;
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1728.ButtonSelected
{
	background-color: #E1F56E;
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1729-4
{
	z-index: 20;
	width: 135px;
	min-height: 35px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#buttonu1728:hover #u1729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 135px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1728:active #u1729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 135px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1728.ButtonSelected #u1729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 135px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1731
{
	z-index: 14;
	width: 114px;
	border-color: #787878;
	background-color: #252816;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 493px;
}

#buttonu1731:hover
{
	background-color: #42410B;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1731:active
{
	background-color: #000000;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1723.ButtonSelected,#buttonu1725.ButtonSelected,#buttonu1731.ButtonSelected
{
	background-color: #E1F56E;
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1732-4
{
	z-index: 15;
	width: 114px;
	min-height: 35px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#buttonu1723.ButtonSelected #u1724-4,#buttonu1731:hover #u1732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 114px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1731:active #u1732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 114px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1731.ButtonSelected #u1732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 114px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1739
{
	z-index: 9;
	width: 118px;
	border-color: #787878;
	background-color: #252816;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#buttonu1739:hover
{
	background-color: #42410B;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1739:active
{
	background-color: #000000;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1739.ButtonSelected
{
	background-color: #E1F56E;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1740-4
{
	z-index: 10;
	width: 118px;
	min-height: 35px;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#buttonu1739:hover #u1740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 118px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1739:active #u1740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 118px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1739.ButtonSelected #u1740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 118px;
	margin: 2px -10000px 0px 0px;
}

#buttonu1723.ButtonSelected #u1724-4 p,#buttonu1720.ButtonSelected #u1721-4 p,#buttonu1725.ButtonSelected #u1726-6 p,#buttonu1728.ButtonSelected #u1729-4 p,#buttonu1731.ButtonSelected #u1732-4 p,#buttonu1739.ButtonSelected #u1740-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1724-2,#u1732-2,#u1740-2
{
	padding-top: 7px;
}

#u1014
{
	z-index: 213;
	height: 98px;
	bottom: 0px;
}

#u1014-bw
{
	z-index: 213;
}

#u1015-11
{
	z-index: 214;
	width: 1050px;
	min-height: 59px;
	bottom: 26px;
	left: 50%;
	margin-left: -525px;
}

body
{
	position: relative;
	min-width: 1050px;
	padding-top: 36px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

