.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation
{
	font-family: lato-n3, sans-serif;
}

.Title,.schedule-section,.mob_SectionTitle
{
	font-family: lato-n9, sans-serif;
}

.mob_OrganizerAffiliation,.mob_ShortText
{
	font-family: lato-i3, sans-serif;
}

.Main-text,.Schedule-time,.mob_OrganizerName,.CFP-text
{
	font-family: lato-n4, sans-serif;
}

.Schedule-item,.CFP-subtitle
{
	font-family: lato-i7, sans-serif;
}

#u1015-11
{
	font-family: lato-n3, sans-serif;
}

#u1012-34
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1012-3,#u1012-4,#u1012-7,#u1012-8,#u1012-13,#u1012-14,#u1012-17,#u1012-18,#u1012-21,#u1012-22,#u1012-25,#u1012-26,#u1012-38
{
	font-family: lato-n7, sans-serif;
}

#u1012-35
{
	font-family: lato-i4, sans-serif;
}

#u1060-6
{
	font-family: rosario-n7, sans-serif;
}

#u1012-2,#u1012-37,#u1033-4
{
	font-family: lato-n9, sans-serif;
}

#u1048-4
{
	font-family: lato-n9, sans-serif;
}

#u1892-4
{
	font-family: lato-n9, sans-serif;
}

#u1761-4
{
	font-family: lato-n9, sans-serif;
}

#u1796-4
{
	font-family: lato-n9, sans-serif;
}

#u1810-4
{
	font-family: lato-n9, sans-serif;
}

#u1012-6,#u1012-12,#u1012-16,#u1012-20,#u1012-24,#u1012-31,#u1012-32,#u1061-6
{
	font-family: lato-n4, sans-serif;
}

#u1735-54,#u1735-58
{
	font-family: lato-i7, sans-serif;
}

#buttonu1836.ButtonSelected #u1837-6 p,#buttonu1725.ButtonSelected #u1726-6 p,#buttonu1720.ButtonSelected #u1721-4 p,#buttonu1723.ButtonSelected #u1724-6 p,#buttonu1731.ButtonSelected #u1732-4 p,#buttonu1739.ButtonSelected #u1740-4 p,#buttonu1728.ButtonSelected #u1729-4 p,#u1965-4,#u1965-6,#u1965-8,#u1965-10,#u1965-15,#u1965-20,#u1965-25,#u1965-27,#u1965-33,#u1965-57,#u1965-60,#u1735-56,#u1735-60,#u1735-63
{
	font-family: lato-n7, sans-serif;
}

#u1965-12,#u1724-6
{
	font-family: lato-n4, sans-serif;
}

#u1721-4
{
	font-family: lato-n4, sans-serif;
}

#u1726-6
{
	font-family: lato-n4, sans-serif;
}

#u1837-6
{
	font-family: lato-n4, sans-serif;
}

#u1732-4
{
	font-family: lato-n4, sans-serif;
}

#u1740-4
{
	font-family: lato-n4, sans-serif;
}

#u1729-4
{
	font-family: lato-n4, sans-serif;
}

