.Title
{
	font-family: lato-n9, sans-serif;
}

.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Schedule-item
{
	font-family: lato-i7, sans-serif;
}

.Centered-title
{
	font-family: lato-n7, sans-serif;
}

.Centered-subtitled,.Centeres-subtitled-small
{
	font-family: lato-n3, sans-serif;
}

.Main-text,.Schedule-author,.schedule-section
{
	font-family: lato-n4, sans-serif;
}

#u320-12,#u320-13,#u320-15,#u320-19,#u320-20,#u320-22,#u320-28
{
	font-family: lato-n3, sans-serif;
}

#u811-6,#u203-2,#u203-6,#u203-10,#u203-12,#u203-14,#u203-16,#u203-23
{
	font-family: lato-n4, sans-serif;
}

#u203-20
{
	font-family: lato-i4, sans-serif;
}

#u203-22,#u935-4
{
	font-family: lato-n7, sans-serif;
}

#u202-4,#u203-17,#u954-5
{
	font-family: lato-n9, sans-serif;
}

#u944-5
{
	font-family: lato-n9, sans-serif;
}

#u942-5
{
	font-family: lato-n9, sans-serif;
}

#u81-6,#u226-5
{
	font-family: rosario-n7, sans-serif;
}

#u979-5
{
	font-family: rosario-n7, sans-serif;
}

#u980-5
{
	font-family: rosario-n7, sans-serif;
}

#u981-5
{
	font-family: rosario-n7, sans-serif;
}

#u203-19,#u207-10
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u207-3,#u207-5,#u207-6
{
	font-family: pt-sans-i4, sans-serif;
}

