.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Schedule-item
{
	font-family: lato-i7, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation
{
	font-family: lato-n3, sans-serif;
}

.Title,.schedule-section,.mob_SectionTitle
{
	font-family: lato-n9, sans-serif;
}

.mob_OrganizerAffiliation,.mob_ShortText
{
	font-family: lato-i3, sans-serif;
}

.Main-text,.Schedule-time,.mob_OrganizerName,.CFP-text
{
	font-family: lato-n4, sans-serif;
}

#u1060-6
{
	font-family: rosario-n7, sans-serif;
}

#u1033-4
{
	font-family: lato-n9, sans-serif;
}

#u1048-4
{
	font-family: lato-n9, sans-serif;
}

#u1438-4
{
	font-family: lato-n9, sans-serif;
}

#u1025-4
{
	font-family: lato-n9, sans-serif;
}

#u1761-4
{
	font-family: lato-n9, sans-serif;
}

#u1012-33
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1061-6,#u1012-6,#u1012-12,#u1012-16,#u1012-20,#u1012-24,#u1012-31,#u1012-32
{
	font-family: lato-n4, sans-serif;
}

#u1012-3,#u1012-4,#u1012-7,#u1012-8,#u1012-13,#u1012-14,#u1012-17,#u1012-18,#u1012-21,#u1012-22,#u1012-25,#u1012-26,#u1012-37
{
	font-family: lato-n7, sans-serif;
}

#u1012-34
{
	font-family: lato-i4, sans-serif;
}

#u1012-2,#u1012-36
{
	font-family: lato-n9, sans-serif;
}

#u1015-11
{
	font-family: lato-n3, sans-serif;
}

