.version.speakers /* version checker */
{
	color: #0000E3;
	background-color: #D028A6;
}

.html
{
	background: #FFFFFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 883px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 40px;
	width: 0.01px;
}

#pu1057
{
	width: 0.01px;
	padding-bottom: 111px;
	margin-left: -100px;
}

#u1057
{
	z-index: 67;
	height: 111px;
	top: 0px;
}

#u1057-bw
{
	z-index: 67;
}

#u1336
{
	z-index: 117;
	width: 300px;
	top: 10px;
	left: 50%;
	margin-left: -525px;
}

#u1336_img
{
	padding-right: 11px;
}

#u1060-6
{
	z-index: 105;
	width: 459px;
	min-height: 62px;
	top: 4px;
	left: 50%;
	margin-left: -239px;
}

#u1061-6
{
	z-index: 111;
	width: 294px;
	min-height: 46px;
	top: 20px;
	left: 50%;
	margin-left: 231px;
}

#menuu1021
{
	z-index: 68;
	width: 764px;
	top: 70px;
	left: 50%;
	margin-left: -239px;
}

#u1029
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1032
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1032:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1032:active #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1043
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 127px;
}

#u1046
{
	width: 125px;
	padding-bottom: 14px;
}

#u1032.MuseMenuActive,#u1046:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1046:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1046.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u1048-4
{
	width: 125px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032.MuseMenuActive #u1033-4,#u1046:hover #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1046:active #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1046.MuseMenuActive #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u1889
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 254px;
}

#u1890
{
	width: 126px;
	padding-bottom: 14px;
}

#u1890:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1890:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1892-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1890:hover #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1890:active #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1759
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 382px;
}

#u1760
{
	width: 126px;
	padding-bottom: 14px;
}

#u1890.MuseMenuActive,#u1760:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1760:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1761-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1890.MuseMenuActive #u1892-4,#u1760:hover #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1760:active #u1761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1792
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 510px;
}

#u1795
{
	width: 126px;
	padding-bottom: 14px;
}

#u1760.MuseMenuActive,#u1795:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1795:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1796-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1760.MuseMenuActive #u1761-4,#u1795:hover #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1795:active #u1796-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1807
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 638px;
}

#u1808
{
	width: 126px;
	padding-bottom: 14px;
}

#u1795.MuseMenuActive,#u1808:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1808.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u1810-4
{
	width: 126px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1795.MuseMenuActive #u1796-4,#u1808:hover #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808:active #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1808.MuseMenuActive #u1810-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	z-index: 14;
	width: 286px;
	height: 345px;
	top: 89px;
	left: 50%;
	margin-left: -525px;
}

#u1012-40
{
	z-index: 15;
	width: 243px;
	min-height: 290px;
	top: 144px;
	left: 50%;
	margin-left: -505px;
}

#pu1143
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 69px;
}

#u1143
{
	z-index: 2;
	height: 274px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E2F575;
	background-color: rgba(225,245,110,0.95);
	-pie-background: rgba(225,245,110,0.95);
}

#u1143-bw
{
	z-index: 2;
	height: 274px;
}

#u1121-11
{
	z-index: 3;
	width: 724px;
	min-height: 720px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 406px;
}

#u1121-5
{
	font-size: 24px;
	line-height: 29px;
}

#u1121-2,#u1121-7
{
	line-height: 36px;
}

#u1121-4,#u1121-9
{
	line-height: 29px;
}

#pu1014
{
	width: 0.01px;
	padding-bottom: 59px;
	margin-left: -100px;
	margin-top: -392px;
}

#u1014
{
	z-index: 55;
	height: 59px;
	bottom: 0px;
}

#u1014-bw
{
	z-index: 55;
}

#u1015-11
{
	z-index: 56;
	width: 1050px;
	min-height: 59px;
	bottom: 0px;
	left: 50%;
	margin-left: -525px;
}

body
{
	position: relative;
	min-width: 1050px;
	padding-top: 36px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

