#u207-3,#u207-5,#u207-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u202-4
{
	font-family: passion-one-n4, sans-serif;
}

#u219-6
{
	font-family: paytone-one-n4, sans-serif;
}

#u226-6
{
	font-family: paytone-one-n4, sans-serif;
}

#u227-6
{
	font-family: paytone-one-n4, sans-serif;
}

#u228-6
{
	font-family: paytone-one-n4, sans-serif;
}

#u203-2,#u203-6,#u203-10,#u203-12,#u203-14,#u203-16,#u81-6
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u153.TabbedPanelsTabSelected #u156-4 p,#u207-10,#u203-19,#u81-2,#u81-4,#u148-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u156-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u150-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u185-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u190-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u280-4,#u282-9,#u284-8,#u285-4,#u286-4
{
	font-family: pt-sans-n4, sans-serif;
}

