.version.index /* version checker */
{
	color: #0000FD;
	background-color: #F30E9B;
}

.html
{
	background: #E5EBFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 797px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu80
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
	padding: 98px 1060px 1082px 100px;
}

#u80
{
	z-index: 427;
	height: 125px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.27999999999999997);
	background: -webkit-gradient(linear, left center, right center, from(rgba(242,220,196,0.5)),color-stop(100%, rgba(26,32,38,0.9)));
	background: -webkit-linear-gradient(left,rgba(242,220,196,0.5) ,rgba(26,32,38,0.9) 100%);
	background: linear-gradient(to right,rgba(242,220,196,0.5) ,rgba(26,32,38,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FF2DCC4, endColorstr=#E51A2026, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FF2DCC4', endColorstr='#E51A2026', GradientType=1)";
	background-size: 100% auto;
}

#u80-bw
{
	z-index: 427;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u206
{
	z-index: 416;
	height: 62px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.35600000000000004);
	background: -webkit-gradient(linear, left center, right center, from(rgba(35,30,11,0.8)),color-stop(100%, rgba(12,28,43,0.98)));
	background: -webkit-linear-gradient(left,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	background: linear-gradient(to right,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC231E0B, endColorstr=#F90C1C2B, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC231E0B', endColorstr='#F90C1C2B', GradientType=1)";
	position: fixed;
	bottom: 0px;
	background-size: 100% auto;
}

#u206-bw
{
	z-index: 416;
}

#u212
{
	z-index: 428;
	width: 304px;
	background-color: transparent;
	position: fixed;
	top: -36px;
	left: 20px;
}

#pu218
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 89px;
	margin-left: 20px;
}

#u218
{
	z-index: 360;
	width: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u194
{
	z-index: 361;
	width: 293px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../images/u194-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	padding-bottom: 495px;
	position: relative;
	margin-right: -10000px;
}

#u194::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u202-4
{
	z-index: 362;
	width: 215px;
	min-height: 29px;
	background-color: transparent;
	color: #262916;
	text-align: center;
	font-size: 21px;
	line-height: 25px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 40px;
}

#u203-24
{
	z-index: 366;
	width: 208px;
	min-height: 248px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 47px;
}

#u203-2,#u203-6,#u203-10,#u203-12,#u203-14,#u203-16
{
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#u203-21
{
	text-align: left;
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u203-19,#u203-22
{
	text-align: center;
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u219-6
{
	z-index: 390;
	width: 116px;
	min-height: 78px;
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
	left: 16px;
}

#u226-6
{
	z-index: 396;
	width: 116px;
	min-height: 78px;
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 384px;
	left: 162px;
}

#u219-6:hover,#u226-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 78px;
	width: 116px;
	margin: 384px -10000px 0px 0px;
}

#u227-6
{
	z-index: 402;
	width: 116px;
	min-height: 78px;
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 16px;
}

#u228-6
{
	z-index: 408;
	width: 116px;
	min-height: 78px;
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 162px;
}

#u219-6::before,#u226-6::before,#u227-6::before,#u228-6::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.08), inset 0px 0px 10px rgba(0,0,0,0.08);
}

#u227-6:hover,#u228-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 78px;
	width: 116px;
	margin: 474px -10000px 0px 0px;
}

#u219-6:hover p,#u226-6:hover p,#u227-6:hover p,#u228-6:hover p
{
	color: #262916;
	visibility: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	text-indent: 0px;
}

#u373
{
	z-index: 414;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 334px;
	left: 106px;
}

#u207-10
{
	z-index: 417;
	width: 920px;
	min-height: 32px;
	background-color: transparent;
	color: #DFE6FF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -460px;
}

#u207
{
	color: #E5EBFF;
}

#u207-5
{
	color: #E1F56E;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u207-3,#u207-6
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u81-8
{
	z-index: 430;
	width: 599px;
	min-height: 101px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: -18px;
	left: 341px;
}

#u81-2,#u81-4
{
	font-size: 30px;
	text-transform: uppercase;
	line-height: 32px;
	color: #E5EBFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u81-6
{
	font-size: 23px;
	line-height: 25px;
	color: #E1F56E;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#ptop
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -29px;
	margin-left: 341px;
}

#top
{
	margin-left: 19px;
	position: relative;
}

#pu749-3
{
	width: 0.01px;
	margin-top: 100px;
}

#u749-3
{
	z-index: 2;
	width: 619px;
	min-height: 54px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../images/u749-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#tab-panelu143
{
	z-index: 5;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u144
{
	z-index: 6;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
}

#u145
{
	z-index: 7;
	width: 118px;
	min-height: 29px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
}

#u145:hover
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u145:active
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u145.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u148-4
{
	z-index: 8;
	width: 110px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding: 4px;
	color: #262916;
	text-align: center;
	line-height: 21px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u145:hover #u148-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #51562E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u145.TabbedPanelsTabSelected #u148-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-style: none;
	border-color: transparent;
	background-color: #4296CE;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u153
{
	z-index: 12;
	width: 118px;
	min-height: 29px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	left: 117px;
}

#u153:hover
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u153:active
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u153.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u156-4
{
	z-index: 13;
	width: 110px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding: 4px;
	color: #262916;
	text-align: center;
	line-height: 21px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u153:hover #u156-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u156-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #51562E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u153.TabbedPanelsTabSelected #u156-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-style: none;
	border-color: transparent;
	background-color: #4296CE;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u156-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u149
{
	z-index: 17;
	width: 118px;
	min-height: 29px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u149:hover
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u149:active
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u149.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u150-4
{
	z-index: 18;
	width: 110px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding: 4px;
	color: #262916;
	text-align: center;
	line-height: 21px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u149:hover #u150-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u150-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #51562E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u149.TabbedPanelsTabSelected #u150-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-style: none;
	border-color: transparent;
	background-color: #4296CE;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u150-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u182
{
	z-index: 22;
	width: 118px;
	min-height: 29px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u182:hover
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u182:active
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u182.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u185-4
{
	z-index: 23;
	width: 110px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding: 4px;
	color: #262916;
	text-align: center;
	line-height: 21px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u182:hover #u185-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #51562E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u182.TabbedPanelsTabSelected #u185-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-style: none;
	border-color: transparent;
	background-color: #4296CE;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u187
{
	z-index: 27;
	width: 118px;
	min-height: 29px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 24px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u187:hover
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u187:active
{
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u187.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 118px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u190-4
{
	z-index: 28;
	width: 110px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding: 4px;
	color: #262916;
	text-align: center;
	line-height: 21px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u187:hover #u190-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u187:active #u190-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #51562E;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u187.TabbedPanelsTabSelected #u190-4
{
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-style: none;
	border-color: transparent;
	background-color: #4296CE;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 21px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u145.TabbedPanelsTabSelected #u148-4::before,#u153.TabbedPanelsTabSelected #u156-4::before,#u149.TabbedPanelsTabSelected #u150-4::before,#u182.TabbedPanelsTabSelected #u185-4::before,#u187.TabbedPanelsTabSelected #u190-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 2px rgba(255,255,255,0.07), inset -3px -3px 2px rgba(0,0,0,0.07);
}

#u187:active #u190-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u157
{
	z-index: 32;
	width: 586px;
	background-color: transparent;
	position: relative;
}

#u158
{
	z-index: 33;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 415px;
	margin-right: -10000px;
	position: relative;
}

#u763-3
{
	z-index: 34;
	width: 580px;
	min-height: 525px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u763-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#u320-30
{
	z-index: 37;
	width: 536px;
	min-height: 431px;
	background-color: transparent;
	text-indent: 50px;
	line-height: 19px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 22px;
}

#u320-12,#u320-13,#u320-15,#u320-19,#u320-20,#u320-22,#u320-28
{
	font-size: 16px;
}

#u166
{
	z-index: 67;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 415px;
	margin-right: -10000px;
	position: relative;
}

#u759-3
{
	z-index: 68;
	width: 580px;
	min-height: 525px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u763-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u282-47
{
	z-index: 71;
	width: 581px;
	min-height: 477px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u282-2,#u282-15,#u282-17
{
	text-align: center;
	line-height: 22px;
}

#u162
{
	z-index: 118;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 29px;
	margin-right: -10000px;
	position: relative;
}

#accordionu724
{
	z-index: 119;
	width: 581px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u729
{
	z-index: 120;
	width: 581px;
	background-color: transparent;
	position: relative;
}

#u732-5
{
	z-index: 121;
	width: 571px;
	min-height: 16px;
	border-color: #FFFFFF;
	background-color: #DADBE5;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262916;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u732-5:hover
{
	background-color: #4296CF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u732-5:active
{
	background-color: #234F6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u145.TabbedPanelsTabSelected #u148-4 p,#u153.TabbedPanelsTabSelected #u156-4 p,#u149.TabbedPanelsTabSelected #u150-4 p,#u182.TabbedPanelsTabSelected #u185-4 p,#u187.TabbedPanelsTabSelected #u190-4 p,#u732-5:hover p,#u732-5:hover span,#u732-5:active p,#u732-5:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u730
{
	z-index: 126;
	width: 581px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u757-3
{
	z-index: 127;
	width: 581px;
	min-height: 803px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u757-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#u731-111
{
	z-index: 130;
	width: 533px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u282-4,#u282-6,#u282-8,#u282-10,#u282-12,#u282-14,#u282-19,#u282-21,#u282-23,#u282-25,#u282-27,#u282-29,#u282-31,#u282-33,#u282-35,#u282-37,#u282-39,#u282-41,#u282-43,#u282-45,#u731-3,#u731-9,#u731-13,#u731-15,#u731-17,#u731-19,#u731-21,#u731-23,#u731-25,#u731-27,#u731-29,#u731-31,#u731-33,#u731-36,#u731-40,#u731-42,#u731-44,#u731-46,#u731-48,#u731-50,#u731-52,#u731-58,#u731-61,#u731-65,#u731-67,#u731-69,#u731-71,#u731-73,#u731-75,#u731-77,#u731-83,#u731-86,#u731-90,#u731-92,#u731-94,#u731-100,#u731-106
{
	line-height: 17px;
}

#u731-2,#u731-5,#u731-11,#u731-35,#u731-38,#u731-54,#u731-60,#u731-63,#u731-79,#u731-85,#u731-88,#u731-96,#u731-102
{
	font-weight: 700;
	font-style: italic;
}

#u320-2,#u320-4,#u320-6,#u320-8,#u320-10,#u320-17,#u320-24,#u320-26,#u731-7,#u731-56,#u731-81,#u731-98,#u731-104
{
	font-weight: 700;
}

#u731-109
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u731-108
{
	font-weight: bold;
	font-style: italic;
}

#u733
{
	z-index: 241;
	width: 581px;
	background-color: transparent;
	position: relative;
}

#u734-5
{
	z-index: 242;
	width: 571px;
	min-height: 16px;
	border-color: #FFFFFF;
	background-color: #DADBE5;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262916;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u734-5:hover
{
	background-color: #4296CF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u734-5:active
{
	background-color: #234F6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u734-5:hover p,#u734-5:hover span,#u734-5:active p,#u734-5:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u735
{
	z-index: 247;
	width: 581px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u756-3
{
	z-index: 248;
	width: 581px;
	min-height: 273px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u756-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#u725
{
	z-index: 251;
	width: 581px;
	background-color: transparent;
	position: relative;
}

#u726-5
{
	z-index: 252;
	width: 571px;
	min-height: 16px;
	border-color: #FFFFFF;
	background-color: #DADBE5;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #262916;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u726-5:hover
{
	background-color: #4296CF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u726-5:active
{
	background-color: #234F6D;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u732-5.AccordionPanelTabOpen,#u734-5.AccordionPanelTabOpen,#u726-5.AccordionPanelTabOpen
{
	background-color: #E1F56E;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 571px;
	margin: 0px;
}

#u726-5:hover p,#u726-5:hover span,#u726-5:active p,#u726-5:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u732-5.AccordionPanelTabOpen p,#u732-5.AccordionPanelTabOpen span,#u734-5.AccordionPanelTabOpen p,#u734-5.AccordionPanelTabOpen span,#u726-5.AccordionPanelTabOpen p,#u726-5.AccordionPanelTabOpen span
{
	color: #4F4F4F;
	visibility: inherit;
	font-size: 16px;
	text-align: center;
}

#u727
{
	z-index: 257;
	width: 581px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 274px;
	position: relative;
}

#u755-3
{
	z-index: 258;
	width: 581px;
	min-height: 273px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u756-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#u740-11
{
	z-index: 261;
	width: 536px;
	min-height: 231px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u186
{
	z-index: 272;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 468px;
	margin-right: -10000px;
	position: relative;
}

#u754-3
{
	z-index: 273;
	width: 581px;
	min-height: 421px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u754-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#u285-24
{
	z-index: 276;
	width: 475px;
	min-height: 431px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u285-22
{
	font-size: 24px;
	line-height: 29px;
}

#u306
{
	z-index: 300;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 292px;
}

#u310
{
	z-index: 302;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 29px;
}

#u191
{
	z-index: 304;
	width: 586px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 393px;
	margin-right: -10000px;
	position: relative;
}

#u145::before,#u145:hover::before,#u145:active::before,#u145.TabbedPanelsTabSelected::before,#u148-4::before,#u153::before,#u153:hover::before,#u153:active::before,#u153.TabbedPanelsTabSelected::before,#u156-4::before,#u149::before,#u149:hover::before,#u149:active::before,#u149.TabbedPanelsTabSelected::before,#u150-4::before,#u182::before,#u182:hover::before,#u182:active::before,#u182.TabbedPanelsTabSelected::before,#u185-4::before,#u187::before,#u187:hover::before,#u187:active::before,#u187.TabbedPanelsTabSelected::before,#u190-4::before,#u158::before,#u166::before,#u162::before,#u186::before,#u191::before
{
	box-shadow: none;
}

#u750-3
{
	z-index: 305;
	width: 581px;
	min-height: 547px;
	-pie-box-shadow: none;
	box-shadow: 12px 12px 20px rgba(0,0,0,0.33249999999999996);
	background: transparent url("../images/u750-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: relative;
	margin-right: -10000px;
}

#u763-3::before,#u759-3::before,#u757-3::before,#u756-3::before,#u755-3::before,#u754-3::before,#u750-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u286-51
{
	z-index: 308;
	width: 581px;
	min-height: 533px;
	background-color: transparent;
	text-align: center;
	font-family: pt-sans, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u286-2,#u286-7,#u286-12,#u286-17,#u286-22,#u286-27,#u286-32,#u286-37,#u286-42,#u286-47
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u286-4,#u286-5,#u286-9,#u286-10,#u286-14,#u286-15,#u286-19,#u286-20,#u286-24,#u286-25,#u286-29,#u286-30,#u286-34,#u286-35,#u286-39,#u286-40,#u286-44,#u286-45,#u286-49
{
	font-weight: 400;
}

.AccordionPanelTab,.TabbedPanelsTab /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 33px;
}

#page .verticalspacer
{
	clear: both;
}

