.version.index /* version checker */
{
	color: #0000F6;
	background-color: #2B842E;
}

.html
{
	background: #E5EBFF url("../images/dc_bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 746px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu80
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
	padding: 98px 1060px 684px 100px;
}

#u80
{
	z-index: 126;
	height: 125px;
	-pie-box-shadow: 0px 0px 30px #999999;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left center, right center, from(#26241B),color-stop(100%, #1A2026));
	background: -webkit-linear-gradient(left,#26241B ,#1A2026 100%);
	background: linear-gradient(to right,#26241B ,#1A2026 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF26241B, endColorstr=#FF1A2026, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF26241B', endColorstr='#FF1A2026', GradientType=1)";
	background-size: 100% auto;
}

#u80-bw
{
	z-index: 126;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u206
{
	z-index: 115;
	height: 62px;
	-pie-box-shadow: 0px 0px 30px #999999;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left center, right center, from(#26241A),color-stop(100%, #1A2026));
	background: -webkit-linear-gradient(left,#26241A ,#1A2026 100%);
	background: linear-gradient(to right,#26241A ,#1A2026 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF26241A, endColorstr=#FF1A2026, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF26241A', endColorstr='#FF1A2026', GradientType=1)";
	position: fixed;
	bottom: 0px;
	background-size: 100% auto;
}

#u206-bw
{
	z-index: 115;
}

#u212
{
	z-index: 127;
	width: 304px;
	background-color: transparent;
	position: fixed;
	top: -36px;
	left: 20px;
}

#u207-10
{
	z-index: 116;
	width: 920px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #DFE6FF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -460px;
}

#u207
{
	color: #E5EBFF;
}

#u207-5
{
	color: #E1F56E;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u207-3,#u207-6
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#pu218
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 130px;
	margin-left: 36px;
}

#u218
{
	z-index: 64;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	position: relative;
}

#u194
{
	z-index: 65;
	width: 215px;
	-pie-box-shadow: 4px 4px 30px #999999;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);
	background-color: #E5EBFF;
	border-radius: 10px;
	padding-bottom: 281px;
	position: relative;
	margin-right: -10000px;
}

#u202-4
{
	z-index: 66;
	width: 215px;
	min-height: 29px;
	background-color: transparent;
	line-height: 25px;
	text-align: center;
	font-size: 21px;
	color: #262916;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u203-21
{
	z-index: 70;
	width: 208px;
	min-height: 248px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 7px;
}

#u203-2,#u203-6,#u203-10,#u203-12,#u203-14,#u203-16
{
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#u203-19
{
	text-align: center;
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#pu219-6
{
	width: 0.01px;
	margin-top: 25px;
}

#u219-6
{
	z-index: 91;
	width: 116px;
	min-height: 78px;
	-pie-box-shadow: 4px 4px 30px #999999;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);
	border-color: #262916;
	background-color: #4986CC;
	border-radius: 10px;
	line-height: 17px;
	text-align: center;
	font-size: 17px;
	color: #E5EBFF;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u226-6
{
	z-index: 97;
	width: 116px;
	min-height: 78px;
	-pie-box-shadow: 4px 4px 30px #999999;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);
	border-color: #262916;
	background-color: #4986CC;
	border-radius: 10px;
	line-height: 17px;
	text-align: center;
	font-size: 17px;
	color: #E5EBFF;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu227-6
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 13px;
}

#u227-6
{
	z-index: 103;
	width: 116px;
	min-height: 78px;
	-pie-box-shadow: 4px 4px 30px #999999;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);
	border-color: #262916;
	background-color: #4986CC;
	border-radius: 10px;
	line-height: 17px;
	text-align: center;
	font-size: 17px;
	color: #E5EBFF;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u228-6
{
	z-index: 109;
	width: 116px;
	min-height: 78px;
	-pie-box-shadow: 4px 4px 30px #999999;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);
	border-color: #262916;
	background-color: #4986CC;
	border-radius: 10px;
	line-height: 17px;
	text-align: center;
	font-size: 17px;
	color: #E5EBFF;
	font-family: paytone-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#u219-6:hover,#u226-6:hover,#u227-6:hover,#u228-6:hover
{
	background-color: #4986CC;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 78px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u219-6:hover p,#u226-6:hover p,#u227-6:hover p,#u228-6:hover p
{
	color: #E5EBFF;
	visibility: inherit;
	padding-top: 1px;
	font-size: 18px;
	padding-bottom: 0px;
	text-indent: 0px;
}

#u81-8
{
	z-index: 129;
	width: 599px;
	min-height: 101px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: -18px;
	left: 341px;
}

#u81-2,#u81-4
{
	font-size: 30px;
	text-transform: uppercase;
	line-height: 32px;
	color: #E5EBFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u81-6
{
	font-size: 23px;
	line-height: 25px;
	color: #E1F56E;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#tab-panelu143
{
	z-index: 2;
	width: 599px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 342px;
}

#u144
{
	z-index: 3;
	width: 599px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
}

#u145
{
	z-index: 4;
	width: 120px;
	min-height: 22px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u145:hover
{
	width: 120px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u145:active
{
	width: 120px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u145.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 120px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u148-4
{
	z-index: 5;
	width: 120px;
	min-height: 22px;
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E5EBFF;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	color: #262916;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u145:hover #u148-4
{
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148-4
{
	border-color: #999999;
	background-color: #262916;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u153
{
	z-index: 9;
	width: 120px;
	min-height: 22px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u153:hover
{
	width: 120px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u153:active
{
	width: 120px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u153.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 120px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156-4
{
	z-index: 10;
	width: 120px;
	min-height: 22px;
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E5EBFF;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	color: #262916;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u153:hover #u156-4
{
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u156-4
{
	border-color: #999999;
	background-color: #262916;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u145.TabbedPanelsTabSelected #u148-4,#u153.TabbedPanelsTabSelected #u156-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFE02E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u156-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u153.TabbedPanelsTabSelected #u156-4 p
{
	color: #262916;
	visibility: inherit;
	font-size: 16px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u149
{
	z-index: 14;
	width: 121px;
	min-height: 22px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u149:hover
{
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u149:active
{
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u149.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u150-4
{
	z-index: 15;
	width: 121px;
	min-height: 22px;
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E5EBFF;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	color: #262916;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u149:hover #u150-4
{
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u150-4
{
	border-color: #999999;
	background-color: #262916;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u150-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u182
{
	z-index: 19;
	width: 121px;
	min-height: 22px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u182:hover
{
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u182:active
{
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u182.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u185-4
{
	z-index: 20;
	width: 121px;
	min-height: 22px;
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E5EBFF;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	color: #262916;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u182:hover #u185-4
{
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185-4
{
	border-color: #999999;
	background-color: #262916;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u187
{
	z-index: 24;
	width: 121px;
	min-height: 22px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 478px;
}

#u187:hover
{
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u187:active
{
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u187.TabbedPanelsTabSelected
{
	border-radius: 10px;
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u145::before,#u145:hover::before,#u145:active::before,#u145.TabbedPanelsTabSelected::before,#u153::before,#u153:hover::before,#u153:active::before,#u153.TabbedPanelsTabSelected::before,#u149::before,#u149:hover::before,#u149:active::before,#u149.TabbedPanelsTabSelected::before,#u182::before,#u182:hover::before,#u182:active::before,#u182.TabbedPanelsTabSelected::before,#u187::before,#u187:hover::before,#u187:active::before,#u187.TabbedPanelsTabSelected::before
{
	box-shadow: none;
}

#u190-4
{
	z-index: 25;
	width: 121px;
	min-height: 22px;
	-pie-box-shadow: 5px 2px 10px #CCCCCC;
	box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
	border-color: #999999;
	background-color: #E5EBFF;
	border-radius: 10px;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	color: #262916;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u187:hover #u190-4
{
	border-color: #999999;
	background-color: #E1F56E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u187:active #u190-4
{
	border-color: #999999;
	background-color: #262916;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u149.TabbedPanelsTabSelected #u150-4,#u182.TabbedPanelsTabSelected #u185-4,#u187.TabbedPanelsTabSelected #u190-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFE02E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u187:active #u190-4 p
{
	color: #E5EBFF;
	visibility: inherit;
}

#u145.TabbedPanelsTabSelected #u148-4 p,#u149.TabbedPanelsTabSelected #u150-4 p,#u182.TabbedPanelsTabSelected #u185-4 p,#u187.TabbedPanelsTabSelected #u190-4 p
{
	color: #262916;
	visibility: inherit;
}

#u157
{
	z-index: 29;
	width: 599px;
	background-color: transparent;
	position: relative;
}

#u158
{
	z-index: 30;
	width: 599px;
	-pie-box-shadow: 2px 2px 30px #999999;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	background-color: #E5EBFF;
	border-radius: 10px;
	padding-bottom: 41px;
	margin-right: -10000px;
	position: relative;
}

#u280-4
{
	z-index: 31;
	width: 540px;
	min-height: 431px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 31px;
}

#u166
{
	z-index: 35;
	width: 599px;
	-pie-box-shadow: 2px 2px 30px #999999;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	background-color: #E5EBFF;
	border-radius: 10px;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
}

#u282-9
{
	z-index: 36;
	width: 540px;
	min-height: 431px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u162
{
	z-index: 45;
	width: 599px;
	-pie-box-shadow: 2px 2px 30px #999999;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	background-color: #E5EBFF;
	border-radius: 10px;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
}

#u284-8
{
	z-index: 46;
	width: 540px;
	min-height: 431px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u186
{
	z-index: 54;
	width: 599px;
	-pie-box-shadow: 2px 2px 30px #999999;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	background-color: #E5EBFF;
	border-radius: 10px;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
}

#u285-4
{
	z-index: 55;
	width: 540px;
	min-height: 431px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

#u191
{
	z-index: 59;
	width: 599px;
	-pie-box-shadow: 2px 2px 30px #999999;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	background-color: #E5EBFF;
	border-radius: 10px;
	padding-bottom: 40px;
	margin-right: -10000px;
	position: relative;
}

#u158::before,#u166::before,#u162::before,#u186::before,#u191::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset 2px 3px 3px rgba(255,255,255,0.03), inset -2px -3px 3px rgba(0,0,0,0.03);
}

#u286-4
{
	z-index: 60;
	width: 540px;
	min-height: 431px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 30px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 33px;
}

#page .verticalspacer
{
	clear: both;
}

