.version.index /* version checker */
{
	color: #000003;
	background-color: #BD1198;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dc_bg_mobilemedium.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 559.5500000000015px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu453
{
	width: 0.01px;
}

#u453
{
	z-index: 126;
	min-height: 80px;
	padding-bottom: 23px;
}

#u454
{
	z-index: 131;
	width: 211px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 89px;
}

#u454_img
{
	padding-bottom: 14px;
}

#u453-bw
{
	z-index: 126;
	min-height: 80px;
}

#u456-4
{
	z-index: 127;
	min-height: 22px;
}

#u456-4-bw
{
	z-index: 127;
	min-height: 22px;
	margin-top: 81px;
}

#accordionu519
{
	z-index: 89;
}

#u520
{
	z-index: 90;
}

#u521-3
{
	z-index: 91;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u521-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u521-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u521-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	margin: 0px;
}

#u522
{
	z-index: 94;
	padding-bottom: 1px;
}

#menuu532
{
	z-index: 95;
	width: 340px;
	margin-right: -10000px;
	left: 19px;
}

#u533
{
	width: 340px;
}

#u536
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u537-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u541
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u543-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u550
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u551-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u557
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u558-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u540,#u547,#u554,#u561
{
	width: 340px;
	margin-top: 2px;
}

#u562
{
	width: 340px;
	min-height: 16px;
	padding-bottom: 18px;
	margin-right: -10000px;
}

#u536.MuseMenuActive,#u541.MuseMenuActive,#u550.MuseMenuActive,#u557.MuseMenuActive,#u562.MuseMenuActive
{
	width: 340px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u564-4
{
	width: 340px;
	min-height: 16px;
	margin-right: -10000px;
	top: 9px;
}

#u536.MuseMenuActive #u537-4,#u541.MuseMenuActive #u543-4,#u550.MuseMenuActive #u551-4,#u557.MuseMenuActive #u558-4,#u562.MuseMenuActive #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#accordionu519-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 89;
	top: 98px;
}

#u619-6
{
	z-index: 83;
	width: 381px;
	min-height: 33px;
	top: 103px;
	left: 0px;
}

#u618
{
	z-index: 78;
	height: 33px;
}

#u618-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 78;
	top: 103px;
}

#u570
{
	z-index: 133;
	width: 301px;
	height: 33px;
	margin-left: 79px;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u637-4
{
	z-index: 79;
	width: 49px;
	min-height: 24px;
	top: 109px;
	left: 30px;
}

#u458
{
	z-index: 10;
	width: 364px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../../images/u458-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	padding-bottom: 34px;
	margin-left: 8px;
	position: relative;
}

#u571-56
{
	z-index: 11;
	width: 341px;
	min-height: 213px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 11px;
}

#u571-2
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	padding-top: 10px;
	color: #4296CF;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u571-5,#u571-8,#u571-11,#u571-14,#u571-17,#u571-20
{
	font-size: 16px;
	text-align: left;
	line-height: 18px;
	padding-left: 27px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#u571-23,#u571-24
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u571-26
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #4296CF;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u571-38,#u571-39,#u571-41,#u571-45,#u571-46,#u571-48
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	text-indent: 50px;
}

#u571-54
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	text-indent: 50px;
	padding-top: 10px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u571-3,#u571-6,#u571-9,#u571-12,#u571-15,#u571-18,#u571-28,#u571-30,#u571-32,#u571-34,#u571-36,#u571-43,#u571-50,#u571-52
{
	font-weight: 700;
}

#u609
{
	z-index: 2;
	width: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u608
{
	z-index: 3;
	width: 364px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../../images/u608-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u458::before,#u608::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u577
{
	z-index: 4;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 146px;
}

#u576-4
{
	z-index: 6;
	width: 100px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 82px;
}

#pu451
{
	width: 0.01px;
	margin-top: 11px;
}

#u451,#u451-bw
{
	z-index: 67;
	height: 40px;
}

#u452-10
{
	z-index: 68;
	min-height: 32px;
}

#u452-10-bw
{
	z-index: 68;
	min-height: 32px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

