#u453
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.27999999999999997);
	background: -webkit-gradient(linear, left center, right center, from(rgba(242,220,196,0.5)),color-stop(100%, rgba(93,115,137,0.9)));
	background: -webkit-linear-gradient(left,rgba(242,220,196,0.5) ,rgba(93,115,137,0.9) 100%);
	background: linear-gradient(to right,rgba(242,220,196,0.5) ,rgba(93,115,137,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FF2DCC4, endColorstr=#E55D7389, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FF2DCC4', endColorstr='#E55D7389', GradientType=1)";
	background-size: 100% auto;
}

#u456-4
{
	background-color: transparent;
	text-align: center;
	color: #E1F56E;
	line-height: 15px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#accordionu519
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u520
{
	background-color: transparent;
}

#u521-3
{
	border-color: #FFFFFF;
	background-color: transparent;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 16px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
}

#u521-3:hover
{
	border-color: #FFFFFF;
}

#u521-3:active
{
	border-color: #FFFFFF;
}

#u521-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
}

#u521-3:hover p
{
	padding-left: 20px;
}

#u521-3:active p
{
	padding-left: 20px;
}

#u521-3.AccordionPanelTabOpen p
{
	color: #E5EBFF;
	visibility: inherit;
	padding-top: 2px;
	font-size: 16px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u521
{
	padding-left: 20px;
	padding-top: 2px;
}

#u522
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#menuu532
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u536
{
	-pie-box-shadow: 4px 4px 15px #B2B2B2;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
}

#u536::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset -3px -3px 2px rgba(255,255,255,0.1), inset 3px 3px 2px rgba(0,0,0,0.1);
}

#u537-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u541
{
	-pie-box-shadow: 4px 4px 15px #B2B2B2;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
}

#u541::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset -3px -3px 2px rgba(255,255,255,0.1), inset 3px 3px 2px rgba(0,0,0,0.1);
}

#u543-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u550
{
	-pie-box-shadow: 4px 4px 15px #B2B2B2;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
}

#u550::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset -3px -3px 2px rgba(255,255,255,0.1), inset 3px 3px 2px rgba(0,0,0,0.1);
}

#u551-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u557
{
	-pie-box-shadow: 4px 4px 15px #B2B2B2;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
}

#u557::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset -3px -3px 2px rgba(255,255,255,0.1), inset 3px 3px 2px rgba(0,0,0,0.1);
}

#u558-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u454,#u533,#u540,#u547,#u554,#u561
{
	background-color: transparent;
	position: relative;
}

#u562
{
	-pie-box-shadow: 4px 4px 15px #B2B2B2;
	box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
}

#u562::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: inset -3px -3px 2px rgba(255,255,255,0.1), inset 3px 3px 2px rgba(0,0,0,0.1);
}

#u536.MuseMenuActive,#u541.MuseMenuActive,#u550.MuseMenuActive,#u557.MuseMenuActive,#u562.MuseMenuActive
{
	background-color: #E1F56E;
}

#u564-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u536.MuseMenuActive #u537-4 p,#u541.MuseMenuActive #u543-4 p,#u550.MuseMenuActive #u551-4 p,#u557.MuseMenuActive #u558-4 p,#u562.MuseMenuActive #u564-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u619-6
{
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	line-height: 12px;
	color: #E5EBFF;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u619-4
{
	padding-left: 2px;
	padding-top: 4px;
}

#u618
{
	background-color: #303321;
	background-color: rgba(38,41,22,0.95);
	-pie-background: rgba(38,41,22,0.95);
}

#u570
{
	position: relative;
}

#u637-4
{
	background-color: transparent;
	font-size: 16px;
	color: #E5EBFF;
	line-height: 19px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u451
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.35600000000000004);
	background: -webkit-gradient(linear, left center, right center, from(rgba(35,30,11,0.8)),color-stop(100%, rgba(12,28,43,0.98)));
	background: -webkit-linear-gradient(left,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	background: linear-gradient(to right,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC231E0B, endColorstr=#F90C1C2B, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC231E0B', endColorstr='#F90C1C2B', GradientType=1)";
	background-size: 100% auto;
}

#u452-10
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #DFE6FF;
	line-height: 22px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u452
{
	color: #E5EBFF;
}

#u452-5
{
	color: #E1F56E;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u452-3,#u452-6
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

