.version.program /* version checker */
{
	color: #00001B;
	background-color: #08B473;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dc_bg_mobilemedium.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1408.9500000000012px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u618
{
	z-index: 53;
	height: 176px;
}

#u618-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 53;
	top: 0px;
}

#pu453
{
	width: 0.01px;
}

#u454
{
	z-index: 110;
	width: 342px;
	margin-bottom: -11px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u454_img
{
	padding-bottom: 22px;
}

#u453,#u453-bw
{
	z-index: 109;
	min-height: 130px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#accordionu519
{
	z-index: 70;
}

#u520
{
	z-index: 71;
}

#u521-3
{
	z-index: 72;
	min-height: 22px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u521-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u522
{
	z-index: 75;
}

#u1640
{
	z-index: 76;
	width: 380px;
	height: 212px;
	margin-right: -10000px;
}

#menuu532
{
	z-index: 77;
	min-height: 201px;
}

#u536
{
	min-height: 24px;
	padding-bottom: 14px;
}

#u536:active
{
	min-height: 24px;
	margin: 0px;
}

#u537-4
{
	min-height: 24px;
	top: 7px;
}

#u536:active #u537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u541
{
	min-height: 24px;
	padding-bottom: 14px;
}

#u536.MuseMenuActive,#u541:active
{
	min-height: 24px;
	margin: 0px;
}

#u543-4
{
	min-height: 24px;
	top: 7px;
}

#u536.MuseMenuActive #u537-4,#u541:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u2014
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u541.MuseMenuActive,#u2014:active
{
	min-height: 24px;
	margin: 0px;
}

#u2016-4
{
	min-height: 24px;
	top: 7px;
}

#u541.MuseMenuActive #u543-4,#u2014:active #u2016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u557
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u2014.MuseMenuActive,#u557:active
{
	min-height: 24px;
	margin: 0px;
}

#u558-4
{
	min-height: 24px;
	top: 7px;
}

#u2014.MuseMenuActive #u2016-4,#u557:active #u558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u557.MuseMenuActive,#u562:active
{
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive
{
	min-height: 24px;
	margin: 0px;
}

#u564-4
{
	min-height: 24px;
	top: 7px;
}

#u557.MuseMenuActive #u558-4,#u562:active #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u540,#u2011,#u554,#u561
{
	margin-top: 2px;
}

#menuu532-bw
{
	z-index: 77;
	min-height: 201px;
	margin-top: 4px;
}

#accordionu519-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 70;
	top: 130px;
}

#u619-6
{
	z-index: 64;
	width: 341px;
	min-height: 33px;
	top: 133px;
	left: 19px;
}

#u570
{
	z-index: 108;
	width: 301px;
	height: 43px;
	top: 133px;
	left: 79px;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u637-4
{
	z-index: 54;
	width: 49px;
	min-height: 24px;
	top: 144px;
	left: 30px;
}

#u456-6
{
	z-index: 58;
	min-height: 46px;
}

#u456-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 58;
	top: 176px;
}

#u2029
{
	z-index: 21;
	min-height: 56px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E2F575;
	background-color: rgba(225,245,110,0.95);
	padding-bottom: 9px;
	-pie-background: rgba(225,245,110,0.95);
}

#u2031-4
{
	z-index: 34;
	width: 360px;
	min-height: 45px;
	background-color: transparent;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u2029-bw
{
	z-index: 21;
	min-height: 56px;
	margin-top: 119px;
}

#u2028
{
	z-index: 2;
	min-height: 165px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E6EBFF;
	background-color: rgba(229,234,255,0.95);
	padding-bottom: 28px;
	-pie-background: rgba(229,234,255,0.95);
}

#u2030-4
{
	z-index: 6;
	width: 341px;
	min-height: 150px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 19px;
}

#u2028-bw
{
	z-index: 2;
	min-height: 165px;
}

#u2116
{
	z-index: 113;
	width: 50px;
	height: 50px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 10px;
	position: fixed;
	top: 470px;
	left: 310px;
	background: #F2F5FF url("../../images/top_arrow-u2108-fr.png") no-repeat center center;
	background-color: rgba(229,235,255,0.5);
}

.js #u2116.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2033
{
	z-index: 18;
	min-height: 56px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E2F575;
	background-color: rgba(225,245,110,0.95);
	padding-bottom: 9px;
	-pie-background: rgba(225,245,110,0.95);
}

#u2035-4
{
	z-index: 26;
	width: 360px;
	min-height: 45px;
	background-color: transparent;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 6px;
}

#u2033-bw
{
	z-index: 18;
	min-height: 56px;
	margin-top: 30px;
}

#u2032
{
	z-index: 3;
	min-height: 209px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E6EBFF;
	background-color: rgba(229,234,255,0.95);
	padding-bottom: 30px;
	-pie-background: rgba(229,234,255,0.95);
}

#u2034-4
{
	z-index: 10;
	width: 341px;
	min-height: 176px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 19px;
}

#u2032-bw
{
	z-index: 3;
	min-height: 209px;
}

#u2037
{
	z-index: 19;
	width: 380px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E2F575;
	background-color: rgba(225,245,110,0.95);
	padding-bottom: 9px;
	margin-top: 30px;
	position: relative;
	-pie-background: rgba(225,245,110,0.95);
}

#u2039-4
{
	z-index: 30;
	width: 341px;
	min-height: 45px;
	background-color: transparent;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u2036
{
	z-index: 5;
	min-height: 125px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E6EBFF;
	background-color: rgba(229,234,255,0.95);
	padding-bottom: 27px;
	-pie-background: rgba(229,234,255,0.95);
}

#u2038-4
{
	z-index: 14;
	width: 341px;
	min-height: 124px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 19px;
}

#u2036-bw
{
	z-index: 5;
	min-height: 125px;
}

#u2041
{
	z-index: 20;
	width: 380px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E2F575;
	background-color: rgba(225,245,110,0.95);
	padding-bottom: 14px;
	margin-top: 29px;
	position: relative;
	-pie-background: rgba(225,245,110,0.95);
}

#u2043-4
{
	z-index: 38;
	width: 360px;
	min-height: 45px;
	background-color: transparent;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u2031-2,#u2035-2,#u2039-2,#u2043-2
{
	font-size: 23px;
}

#u2040
{
	z-index: 4;
	min-height: 128px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.19);
	background-color: #E6EBFF;
	background-color: rgba(229,234,255,0.95);
	padding-bottom: 24px;
	-pie-background: rgba(229,234,255,0.95);
}

#u2042-4
{
	z-index: 22;
	width: 341px;
	min-height: 124px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 19px;
}

#u2030-2,#u2034-2,#u2038-2,#u2042-2
{
	font-size: 18px;
	text-align: center;
}

#u2040-bw
{
	z-index: 4;
	min-height: 128px;
}

#pu451
{
	width: 0.01px;
	margin-top: 31px;
}

#u451,#u451-bw
{
	z-index: 42;
	height: 40px;
}

#u452-10
{
	z-index: 43;
	min-height: 32px;
}

#u452-10-bw
{
	z-index: 43;
	min-height: 32px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

