.version.submissions /* version checker */
{
	color: #0000FB;
	background-color: #4DAAB9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dc_bg_mobilemedium.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 594.9500000000013px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u454
{
	z-index: 72;
	width: 342px;
	margin-bottom: -11px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u454_img
{
	padding-bottom: 22px;
}

#u453,#u453-bw
{
	z-index: 71;
	min-height: 130px;
}

#u618
{
	z-index: 21;
	height: 176px;
}

#u618-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 21;
	top: 0px;
}

#accordionu519
{
	z-index: 38;
}

#u520
{
	z-index: 39;
}

#u521-3
{
	z-index: 40;
	min-height: 22px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u521-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u522
{
	z-index: 43;
}

#u1640
{
	z-index: 44;
	width: 380px;
	height: 212px;
	margin-right: -10000px;
}

#menuu532
{
	z-index: 45;
	min-height: 201px;
}

#u536
{
	min-height: 24px;
	padding-bottom: 24px;
}

#u536:active
{
	min-height: 24px;
	margin: 0px;
}

#u537-4
{
	min-height: 24px;
	top: 12px;
}

#u536:active #u537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u541
{
	min-height: 24px;
	padding-bottom: 25px;
}

#u536.MuseMenuActive,#u541:active
{
	min-height: 24px;
	margin: 0px;
}

#u543-4
{
	min-height: 24px;
	top: 12px;
}

#u536.MuseMenuActive #u537-4,#u541:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u557
{
	min-height: 24px;
	padding-bottom: 25px;
}

#u541.MuseMenuActive,#u557:active
{
	min-height: 24px;
	margin: 0px;
}

#u558-4
{
	min-height: 24px;
	top: 12px;
}

#u541.MuseMenuActive #u543-4,#u557:active #u558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562
{
	min-height: 24px;
	padding-bottom: 25px;
}

#u557.MuseMenuActive,#u562:active
{
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive
{
	min-height: 24px;
	margin: 0px;
}

#u564-4
{
	min-height: 24px;
	top: 12px;
}

#u557.MuseMenuActive #u558-4,#u562:active #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u540,#u554,#u561
{
	margin-top: 2px;
}

#menuu532-bw
{
	z-index: 45;
	min-height: 201px;
	margin-top: 4px;
}

#accordionu519-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 38;
	top: 130px;
}

#u619-6
{
	z-index: 32;
	width: 341px;
	min-height: 33px;
	top: 133px;
	left: 19px;
}

#u570
{
	z-index: 70;
	width: 301px;
	height: 43px;
	top: 133px;
	left: 79px;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u637-4
{
	z-index: 22;
	width: 49px;
	min-height: 24px;
	top: 144px;
	left: 30px;
}

#u456-6
{
	z-index: 26;
	min-height: 46px;
}

#u456-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 26;
	top: 176px;
}

#pu1680
{
	width: 0.01px;
	margin-top: 137px;
}

#u1680
{
	z-index: 2;
	height: 181px;
	background-color: #252816;
}

#u1680-bw
{
	z-index: 2;
	height: 181px;
}

#u1681-7
{
	z-index: 3;
	min-height: 128px;
	background-color: transparent;
}

#u1681-2,#u1681-3
{
	line-height: 26px;
}

#u1681-5
{
	line-height: 28px;
}

#u1681-7-bw
{
	z-index: 3;
	min-height: 128px;
	margin-top: 39px;
}

#pu451
{
	width: 0.01px;
	margin-top: 108px;
}

#u451,#u451-bw
{
	z-index: 10;
	height: 40px;
}

#u452-10
{
	z-index: 11;
	min-height: 32px;
}

#u452-10-bw
{
	z-index: 11;
	min-height: 32px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

