.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Schedule-item
{
	font-family: lato-i7, sans-serif;
}

.Title,.schedule-section
{
	font-family: lato-n9, sans-serif;
}

.Main-text,.Schedule-time
{
	font-family: lato-n4, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation
{
	font-family: lato-n3, sans-serif;
}

#u1060-6
{
	font-family: rosario-n7, sans-serif;
}

#u1033-4
{
	font-family: lato-n9, sans-serif;
}

#u1048-4
{
	font-family: lato-n9, sans-serif;
}

#u1040-4
{
	font-family: lato-n9, sans-serif;
}

#u1438-4
{
	font-family: lato-n9, sans-serif;
}

#u1025-4
{
	font-family: lato-n9, sans-serif;
}

#u1012-27
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1061-6,#u1012-6,#u1012-12,#u1012-16,#u1012-20,#u1012-24,#u1012-25
{
	font-family: lato-n4, sans-serif;
}

#u1012-3,#u1012-4,#u1012-7,#u1012-8,#u1012-13,#u1012-14,#u1012-17,#u1012-18,#u1012-21,#u1012-22,#u1012-33
{
	font-family: lato-n7, sans-serif;
}

#u1012-30
{
	font-family: lato-i7, sans-serif;
}

#u1012-2,#u1012-32
{
	font-family: lato-n9, sans-serif;
}

#u1015-11
{
	font-family: lato-n3, sans-serif;
}

#u1108-2,#u1108-4,#u1108-7,#u1108-9,#u1108-11,#u1108-15,#u1108-21,#u1108-23
{
	font-family: lato-n9, sans-serif;
}

