#u1057
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.38);
	background: -webkit-gradient(linear, left center, right center, from(rgba(56,58,49,0.95)),color-stop(100%, rgba(26,32,38,0.95)));
	background: -webkit-linear-gradient(left,rgba(56,58,49,0.95) ,rgba(26,32,38,0.95) 100%);
	background: linear-gradient(to right,rgba(56,58,49,0.95) ,rgba(26,32,38,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2383A31, endColorstr=#F21A2026, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2383A31', endColorstr='#F21A2026', GradientType=1)";
	position: fixed;
	background-size: 100% auto;
}

#u1060-6
{
	background-color: transparent;
	color: #E1F56E;
	line-height: 31px;
	text-align: right;
	text-transform: uppercase;
	font-size: 29px;
	font-family: rosario, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u1061-6
{
	background-color: transparent;
	color: #E5EBFF;
	text-align: left;
	font-size: 18px;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u1061-2
{
	padding-top: 3px;
}

#u1061-4
{
	padding-top: 3px;
}

#u1032
{
	background-color: #E5EBFF;
	position: relative;
}

#u1032:hover
{
	background-color: #FFE02E;
}

#u1032:active
{
	background-color: #8E7D19;
}

#u1033-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1046
{
	background-color: #E5EBFF;
	position: relative;
}

#u1046:hover
{
	background-color: #FFE02E;
}

#u1046:active
{
	background-color: #8E7D19;
}

#u1048-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1051
{
	background-color: #E5EBFF;
	position: relative;
}

#u1051:hover
{
	background-color: #FFE02E;
}

#u1051:active
{
	background-color: #8E7D19;
}

#u1053-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1037
{
	background-color: #E5EBFF;
	position: relative;
}

#u1037:hover
{
	background-color: #FFE02E;
}

#u1037:active
{
	background-color: #8E7D19;
}

#u1040-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u1029,#u1043,#u1050,#u1036,#u1022
{
	background-color: transparent;
	position: relative;
}

#u1023
{
	background-color: #E5EBFF;
	position: relative;
}

#u1023:hover
{
	background-color: #FFE02E;
}

#u1023:active
{
	background-color: #8E7D19;
}

#u1032.MuseMenuActive,#u1046.MuseMenuActive,#u1051.MuseMenuActive,#u1037.MuseMenuActive,#u1023.MuseMenuActive
{
	background-color: #E1F56E;
}

#u1025-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #262916;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1013
{
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.285);
	background: transparent url("../images/u1013-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	position: fixed;
}

#u1013::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u1336,#u1012-33
{
	background-color: transparent;
	position: fixed;
}

#u1012-2
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	padding-top: 10px;
	color: #262916;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u1012-5
{
	font-size: 14px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1012-10
{
	font-size: 14px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1012-15
{
	font-size: 14px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1012-18
{
	font-size: 14px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1012-21
{
	font-size: 14px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1012-24
{
	font-size: 14px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u1012-3,#u1012-6,#u1012-11,#u1012-16,#u1012-19,#u1012-22
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u1012-27
{
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1012-25
{
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	line-height: 17px;
}

#u1012-31
{
	font-size: 15px;
	text-align: left;
	line-height: 18px;
	padding-top: 10px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u1012-28
{
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#u1012-14,#u1012-30
{
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u1014
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.35600000000000004);
	background: -webkit-gradient(linear, left center, right center, from(rgba(35,30,11,0.8)),color-stop(100%, rgba(12,28,43,0.98)));
	background: -webkit-linear-gradient(left,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	background: linear-gradient(to right,rgba(35,30,11,0.8) ,rgba(12,28,43,0.98) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC231E0B, endColorstr=#F90C1C2B, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC231E0B', endColorstr='#F90C1C2B', GradientType=1)";
	position: fixed;
	background-size: 100% auto;
}

#u1015-11
{
	background-color: transparent;
	color: #DFE6FF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1015
{
	color: #E5EBFF;
}

#u1015-6
{
	color: #E1F56E;
}

#menuu1021,#u1016
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1020-5
{
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: fixed;
}

#u1020-5::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.08), inset 0px 0px 10px rgba(0,0,0,0.08);
}

#u1020-5:hover p
{
	color: #262916;
	visibility: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	text-indent: 0px;
}

#u1020
{
	padding-top: 2px;
}

#u1020-3
{
	padding-top: 2px;
}

#u1018-5
{
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: fixed;
}

#u1018-5::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.08), inset 0px 0px 10px rgba(0,0,0,0.08);
}

#u1018-5:hover p
{
	color: #262916;
	visibility: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	text-indent: 0px;
}

#u1018
{
	padding-top: 2px;
}

#u1018-3
{
	padding-top: 2px;
}

#u1017-5
{
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: fixed;
}

#u1017-5::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.08), inset 0px 0px 10px rgba(0,0,0,0.08);
}

#u1017-5:hover p
{
	color: #262916;
	visibility: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	text-indent: 0px;
}

#u1017
{
	padding-top: 2px;
}

#u1017-3
{
	padding-top: 2px;
}

#u1019-5
{
	border-color: #262916;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 17px;
	line-height: 17px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: fixed;
}

#u1019-5::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.08), inset 0px 0px 10px rgba(0,0,0,0.08);
}

#u1019-5:hover p
{
	color: #262916;
	visibility: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	text-indent: 0px;
}

#u1019
{
	padding-top: 2px;
}

#u1019-3
{
	padding-top: 2px;
}

