.version.program /* version checker */
{
	color: #0000E7;
	background-color: #EEBD9E;
}

.html
{
	background: #FFFFFF url("../images/dc_bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1050px;
	min-height: 1162.8666397270115px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 78px;
	width: 0.01px;
}

#pu1057
{
	width: 0.01px;
	padding-bottom: 111px;
	margin-left: -100px;
}

#u1057
{
	z-index: 501;
	height: 111px;
	top: 0px;
}

#u1057-bw
{
	z-index: 501;
}

#u1336
{
	z-index: 545;
	width: 278px;
	top: 17px;
	left: 50%;
	margin-left: -525px;
}

#u1060-6
{
	z-index: 533;
	width: 459px;
	min-height: 62px;
	top: 4px;
	left: 50%;
	margin-left: -239px;
}

#u1061-6
{
	z-index: 539;
	width: 294px;
	min-height: 46px;
	top: 20px;
	left: 50%;
	margin-left: 231px;
}

#menuu1021
{
	z-index: 502;
	width: 764px;
	top: 70px;
	left: 50%;
	margin-left: -239px;
}

#u1029
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1032
{
	width: 151px;
	padding-bottom: 14px;
}

#u1032:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1032:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1032:active #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1043
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 153px;
}

#u1046
{
	width: 151px;
	padding-bottom: 14px;
}

#u1032.MuseMenuActive,#u1046:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1046:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1048-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1032.MuseMenuActive #u1033-4,#u1046:hover #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1046:active #u1048-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1036
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 306px;
}

#u1037
{
	width: 151px;
	padding-bottom: 14px;
}

#u1046.MuseMenuActive,#u1037:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1037:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1040-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1046.MuseMenuActive #u1048-4,#u1037:hover #u1040-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1037:active #u1040-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1434
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 459px;
}

#u1435
{
	width: 151px;
	padding-bottom: 14px;
}

#u1037.MuseMenuActive,#u1435:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1435:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1435.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1438-4
{
	width: 151px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1037.MuseMenuActive #u1040-4,#u1435:hover #u1438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1435:active #u1438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1435.MuseMenuActive #u1438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1022
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 612px;
}

#u1023
{
	width: 152px;
	padding-bottom: 14px;
}

#u1023:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u1023:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u1023.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u1025-4
{
	width: 152px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1023:hover #u1025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u1023:active #u1025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u1023.MuseMenuActive #u1025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u1013
{
	z-index: 453;
	width: 286px;
	height: 345px;
	top: 89px;
	left: 50%;
	margin-left: -525px;
}

#pu1223
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 31px;
}

#u1223
{
	z-index: 2;
	height: 58px;
	background-color: #E1F56E;
}

#u1223-bw
{
	z-index: 2;
	height: 58px;
}

#tab-panelu1241
{
	z-index: 3;
	width: 724px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 406px;
}

#u1255
{
	z-index: 4;
	width: 724px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1264
{
	z-index: 5;
	width: 242px;
	min-height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #E1F56E;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1264:hover
{
	border-color: #999999;
	background-color: #9BCEEF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1264:active
{
	border-color: #999999;
	background-color: #4296CF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1264.TabbedPanelsTabSelected
{
	border-color: #262916;
	background-color: #E5EBFF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1265-5
{
	z-index: 6;
	width: 242px;
	min-height: 24px;
	border-color: #999999;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1264:hover #u1265-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1264:active #u1265-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1260
{
	z-index: 11;
	width: 242px;
	min-height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #E1F56E;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u1260:hover
{
	border-color: #999999;
	background-color: #9BCEEF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1260:active
{
	border-color: #999999;
	background-color: #4296CF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1260.TabbedPanelsTabSelected
{
	border-color: #262916;
	background-color: #E5EBFF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1262-5
{
	z-index: 12;
	width: 242px;
	min-height: 24px;
	border-color: #999999;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1260:hover #u1262-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1260:active #u1262-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1256
{
	z-index: 17;
	width: 242px;
	min-height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #E1F56E;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 482px;
}

#u1256:hover
{
	border-color: #999999;
	background-color: #9BCEEF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1256:active
{
	border-color: #999999;
	background-color: #4296CF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1256.TabbedPanelsTabSelected
{
	border-color: #262916;
	background-color: #E5EBFF;
	width: 242px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1264.TabbedPanelsTabSelected::before,#u1260.TabbedPanelsTabSelected::before,#u1256.TabbedPanelsTabSelected::before
{
	box-shadow: none;
}

#u1258-5
{
	z-index: 18;
	width: 242px;
	min-height: 24px;
	border-color: #999999;
	background-color: transparent;
	line-height: 24px;
	color: #000000;
	text-align: center;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u1256:hover #u1258-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1256:active #u1258-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1264.TabbedPanelsTabSelected #u1265-5,#u1260.TabbedPanelsTabSelected #u1262-5,#u1256.TabbedPanelsTabSelected #u1258-5
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 242px;
	margin: 0px -10000px 0px 0px;
}

#u1264.TabbedPanelsTabSelected #u1265-5 p,#u1264.TabbedPanelsTabSelected #u1265-5 span,#u1260.TabbedPanelsTabSelected #u1262-5 p,#u1260.TabbedPanelsTabSelected #u1262-5 span,#u1256.TabbedPanelsTabSelected #u1258-5 p,#u1256.TabbedPanelsTabSelected #u1258-5 span
{
	font-family: lato, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u1242
{
	z-index: 23;
	width: 724px;
	background-color: transparent;
	position: relative;
}

#u1243
{
	z-index: 24;
	width: 724px;
	border-color: #999999;
	background-color: #E5EBFF;
	padding-bottom: 101px;
	margin-right: -10000px;
	position: relative;
}

#u1282-62
{
	z-index: 105;
	width: 97px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1281-80
{
	z-index: 25;
	width: 572px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 132px;
}

#u1251
{
	z-index: 167;
	width: 724px;
	border-color: #999999;
	background-color: #E5EBFF;
	padding-bottom: 12px;
	margin-right: -10000px;
	position: relative;
}

#u1286-62
{
	z-index: 248;
	width: 96px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1285-80
{
	z-index: 168;
	width: 573px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 131px;
}

#u1247
{
	z-index: 310;
	width: 724px;
	border-color: #999999;
	background-color: #E5EBFF;
	padding-bottom: 12px;
	margin-right: -10000px;
	position: relative;
}

#u1290-62
{
	z-index: 391;
	width: 96px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1282-7,#u1282-8,#u1282-9,#u1282-10,#u1282-11,#u1282-12,#u1282-13,#u1282-14,#u1282-15,#u1282-16,#u1282-21,#u1282-22,#u1282-23,#u1282-24,#u1282-35,#u1282-39,#u1282-43,#u1282-44,#u1282-45,#u1282-46,#u1282-53,#u1286-7,#u1286-8,#u1286-9,#u1286-10,#u1286-11,#u1286-12,#u1286-13,#u1286-14,#u1286-15,#u1286-16,#u1286-21,#u1286-22,#u1286-23,#u1286-24,#u1286-25,#u1286-36,#u1286-40,#u1286-44,#u1286-45,#u1286-46,#u1286-47,#u1286-54,#u1286-56,#u1290-7,#u1290-8,#u1290-9,#u1290-10,#u1290-11,#u1290-12,#u1290-13,#u1290-14,#u1290-15,#u1290-16,#u1290-21,#u1290-22,#u1290-23,#u1290-24,#u1290-25,#u1290-36,#u1290-40,#u1290-44,#u1290-45,#u1290-46,#u1290-47,#u1290-54,#u1290-56
{
	text-align: right;
	line-height: 18px;
	color: #4296CF;
}

#u1282-2,#u1282-4,#u1282-6,#u1282-18,#u1282-20,#u1282-30,#u1282-32,#u1282-34,#u1282-48,#u1282-50,#u1282-52,#u1282-58,#u1282-60,#u1286-2,#u1286-4,#u1286-6,#u1286-18,#u1286-20,#u1286-31,#u1286-33,#u1286-35,#u1286-49,#u1286-51,#u1286-53,#u1286-58,#u1286-60,#u1290-2,#u1290-4,#u1290-6,#u1290-18,#u1290-20,#u1290-31,#u1290-33,#u1290-35,#u1290-49,#u1290-51,#u1290-53,#u1290-58,#u1290-60
{
	text-align: right;
	line-height: 19px;
	color: #4296CF;
}

#u1289-80
{
	z-index: 311;
	width: 573px;
	min-height: 828px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 131px;
}

#u1282-25,#u1282-28,#u1282-54,#u1281-8,#u1281-10,#u1281-12,#u1281-14,#u1281-16,#u1281-18,#u1281-20,#u1281-22,#u1281-24,#u1281-26,#u1281-32,#u1281-34,#u1281-36,#u1281-38,#u1281-40,#u1281-42,#u1281-50,#u1281-54,#u1281-56,#u1281-58,#u1281-60,#u1281-62,#u1281-70,#u1281-72,#u1286-29,#u1285-8,#u1285-10,#u1285-12,#u1285-14,#u1285-16,#u1285-18,#u1285-20,#u1285-22,#u1285-24,#u1285-26,#u1285-32,#u1285-34,#u1285-36,#u1285-38,#u1285-40,#u1285-42,#u1285-50,#u1285-54,#u1285-56,#u1285-58,#u1285-60,#u1285-62,#u1285-70,#u1285-72,#u1290-29,#u1289-8,#u1289-10,#u1289-12,#u1289-14,#u1289-16,#u1289-18,#u1289-20,#u1289-22,#u1289-24,#u1289-26,#u1289-32,#u1289-34,#u1289-36,#u1289-38,#u1289-40,#u1289-42,#u1289-50,#u1289-54,#u1289-56,#u1289-58,#u1289-60,#u1289-62,#u1289-70,#u1289-72
{
	line-height: 18px;
}

#u1282-56,#u1281-2,#u1281-4,#u1281-6,#u1281-28,#u1281-30,#u1281-44,#u1281-46,#u1281-48,#u1281-64,#u1281-66,#u1281-68,#u1281-74,#u1281-76,#u1281-78,#u1285-2,#u1285-4,#u1285-6,#u1285-28,#u1285-30,#u1285-44,#u1285-46,#u1285-48,#u1285-64,#u1285-66,#u1285-68,#u1285-74,#u1285-76,#u1285-78,#u1289-2,#u1289-4,#u1289-6,#u1289-28,#u1289-30,#u1289-44,#u1289-46,#u1289-48,#u1289-64,#u1289-66,#u1289-68,#u1289-74,#u1289-76,#u1289-78
{
	line-height: 19px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#pu1014
{
	width: 0.01px;
	padding-bottom: 481px;
	margin-left: -100px;
	margin-top: -1240px;
}

#u1014
{
	z-index: 489;
	height: 98px;
	bottom: 0px;
}

#u1014-bw
{
	z-index: 489;
}

#u1015-11
{
	z-index: 490;
	width: 1050px;
	min-height: 59px;
	bottom: 26px;
	left: 50%;
	margin-left: -525px;
}

#u1012-35
{
	z-index: 454;
	width: 221px;
	min-height: 290px;
	top: 144px;
	left: 50%;
	margin-left: -495px;
}

body
{
	position: relative;
	min-width: 1050px;
	padding-top: 36px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

