.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.mob_OrganizerAffiliation,.mob_ShortText
{
	font-family: lato-i3, sans-serif;
}

.Title,.schedule-section,.mob_SectionTitle,.schedule-section---time
{
	font-family: lato-n9, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation,.Centered-subtitle-spaced,.schedule-subsection-author---time
{
	font-family: lato-n3, sans-serif;
}

.Main-text,.Schedule-time,.mob_OrganizerName,.CFP-text,.schedule-subsection---time,.schedule-subsection,.schedule-time1
{
	font-family: lato-n4, sans-serif;
}

.Paragraph-Style,.mobile-section-info
{
	font-family: lato-i4, sans-serif;
}

.Schedule-item,.CFP-subtitle,.mobile-schedule-item,.mobile-time
{
	font-family: lato-i7, sans-serif;
}

#u521-3.AccordionPanelTabOpen p
{
	font-family: passion-one-n4, sans-serif;
}

#u521-3
{
	font-family: lato-n3, sans-serif;
}

#u537-4
{
	font-family: lato-n7, sans-serif;
}

#u543-4
{
	font-family: lato-n7, sans-serif;
}

#u558-4
{
	font-family: lato-n7, sans-serif;
}

#u3227-4
{
	font-family: lato-n7, sans-serif;
}

#u564-4
{
	font-family: lato-n7, sans-serif;
}

#u619-6,#u637-4
{
	font-family: lato-n4, sans-serif;
}

#u456-2
{
	font-family: lato-i4, sans-serif;
}

#u456-4
{
	font-family: lato-i7, sans-serif;
}

#u452-10
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u452-3,#u452-5,#u452-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u1681-13
{
	font-family: lato-n4, sans-serif;
}

#u2060-7,#u2060-13
{
	font-family: lato-i7, sans-serif;
}

#u1681-5,#u1681-7,#u1681-9,#u1681-11,#u1681-16,#u1681-21,#u1681-26,#u1681-31,#u1681-45,#u1681-48,#u1681-51,#u2045-7,#u2045-10,#u2060-11,#u2060-12,#u2060-17,#u2060-20
{
	font-family: lato-n7, sans-serif;
}

