.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.mob_OrganizerAffiliation,.mob_ShortText
{
	font-family: lato-i3, sans-serif;
}

.Title,.schedule-section,.mob_SectionTitle,.schedule-section---time
{
	font-family: lato-n9, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation,.Centered-subtitle-spaced,.schedule-subsection-author---time
{
	font-family: lato-n3, sans-serif;
}

.Main-text,.Schedule-time,.mob_OrganizerName,.CFP-text,.schedule-subsection---time,.schedule-subsection,.schedule-time1
{
	font-family: lato-n4, sans-serif;
}

.Paragraph-Style,.mobile-section-info
{
	font-family: lato-i4, sans-serif;
}

.Schedule-item,.CFP-subtitle,.mobile-schedule-item,.mobile-time
{
	font-family: lato-i7, sans-serif;
}

#u521-3.AccordionPanelTabOpen p
{
	font-family: passion-one-n4, sans-serif;
}

#u521-3
{
	font-family: lato-n3, sans-serif;
}

#u537-4
{
	font-family: lato-n7, sans-serif;
}

#u543-4
{
	font-family: lato-n7, sans-serif;
}

#u3354-4
{
	font-family: lato-n7, sans-serif;
}

#u558-4
{
	font-family: lato-n7, sans-serif;
}

#u564-4
{
	font-family: lato-n7, sans-serif;
}

#u619-6,#u637-4
{
	font-family: lato-n4, sans-serif;
}

#u456-2
{
	font-family: lato-i4, sans-serif;
}

#u456-4
{
	font-family: lato-i7, sans-serif;
}

#u452-10
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u452-3,#u452-5,#u452-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u1603-8
{
	font-family: lato-i1, sans-serif;
}

#u1603-15,#u1604-6,#u1606-5
{
	font-family: lato-n9, sans-serif;
}

#u1603-5,#u1603-18,#u1603-21,#u1603-24,#u1603-27,#u1603-30,#u1604-5,#u1604-8,#u576-5
{
	font-family: lato-n4, sans-serif;
}

#u571-2
{
	font-family: lato-i7, sans-serif;
}

#u1604-2,#u1604-4,#u1604-10,#u1604-12,#u1604-14,#u1604-16,#u1604-18,#u576-2,#u571-4,#u571-7,#u571-10,#u571-12,#u571-14,#u571-22
{
	font-family: lato-n7, sans-serif;
}

#u571-16,#u571-17,#u571-19,#u571-24,#u571-25,#u571-27
{
	font-family: lato-n3, sans-serif;
}

