.Sub-text
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Centered-title,.Organizers-Authors
{
	font-family: lato-n7, sans-serif;
}

.mob_OrganizerAffiliation,.mob_ShortText
{
	font-family: lato-i3, sans-serif;
}

.Title,.schedule-section,.mob_SectionTitle,.schedule-section---time
{
	font-family: lato-n9, sans-serif;
}

.Schedule-author,.Centered-subtitled,.Centeres-subtitled-small,.Organizers-affiliation,.Centered-subtitle-spaced,.schedule-subsection-author---time
{
	font-family: lato-n3, sans-serif;
}

.Main-text,.Schedule-time,.mob_OrganizerName,.CFP-text,.schedule-subsection---time,.schedule-subsection,.schedule-time1
{
	font-family: lato-n4, sans-serif;
}

.Paragraph-Style,.mobile-section-info
{
	font-family: lato-i4, sans-serif;
}

.Schedule-item,.CFP-subtitle,.mobile-schedule-item,.mobile-time
{
	font-family: lato-i7, sans-serif;
}

#u521-3.AccordionPanelTabOpen p
{
	font-family: passion-one-n4, sans-serif;
}

#u521-3
{
	font-family: lato-n3, sans-serif;
}

#u537-4
{
	font-family: lato-n7, sans-serif;
}

#u543-4
{
	font-family: lato-n7, sans-serif;
}

#u3354-4
{
	font-family: lato-n7, sans-serif;
}

#u558-4
{
	font-family: lato-n7, sans-serif;
}

#u564-4
{
	font-family: lato-n7, sans-serif;
}

#u619-6,#u637-4
{
	font-family: lato-n4, sans-serif;
}

#u456-2
{
	font-family: lato-i4, sans-serif;
}

#u456-4
{
	font-family: lato-i7, sans-serif;
}

#u452-10
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u452-3,#u452-5,#u452-6
{
	font-family: pt-sans-i4, sans-serif;
}

#u3329-5
{
	font-family: passion-one-n4, sans-serif;
}

#u3331-5
{
	font-family: passion-one-n4, sans-serif;
}

#u3333-5
{
	font-family: passion-one-n4, sans-serif;
}

#u3338-14
{
	font-family: lato-i9, sans-serif;
}

#u3338-63,#u3338-66,#u3338-154,#u3338-157,#u3338-202,#u3338-205
{
	font-family: lato-n7, sans-serif;
}

#u3338-24,#u3338-76,#u3338-167,#u3338-215,#u3338-254
{
	font-family: lato-i4, sans-serif;
}

