.version.program /* version checker */
{
	color: #000018;
	background-color: #EFF5A8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dc_bg_mobilemedium.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1408.9749999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pschedule1
{
	width: 0.01px;
}

#schedule1
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 85px;
	left: 10px;
}

#u454
{
	z-index: 330;
	width: 342px;
	margin-bottom: -11px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u454_img
{
	padding-bottom: 22px;
}

#u453,#u453-bw
{
	z-index: 329;
	min-height: 130px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u618
{
	z-index: 273;
	height: 176px;
}

#u618-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 273;
	top: 0px;
}

#accordionu519
{
	z-index: 290;
}

#u520
{
	z-index: 291;
}

#u521-3
{
	z-index: 292;
	min-height: 22px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u521-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u522
{
	z-index: 295;
}

#u1640
{
	z-index: 296;
	width: 380px;
	height: 212px;
	margin-right: -10000px;
}

#menuu532
{
	z-index: 297;
	min-height: 201px;
}

#u536
{
	min-height: 24px;
	padding-bottom: 14px;
}

#u536:active
{
	min-height: 24px;
	margin: 0px;
}

#u537-4
{
	min-height: 24px;
	top: 7px;
}

#u536:active #u537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u541
{
	min-height: 24px;
	padding-bottom: 14px;
}

#u536.MuseMenuActive,#u541:active
{
	min-height: 24px;
	margin: 0px;
}

#u543-4
{
	min-height: 24px;
	top: 7px;
}

#u536.MuseMenuActive #u537-4,#u541:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u557
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u541.MuseMenuActive,#u557:active
{
	min-height: 24px;
	margin: 0px;
}

#u558-4
{
	min-height: 24px;
	top: 7px;
}

#u541.MuseMenuActive #u543-4,#u557:active #u558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u3225
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u557.MuseMenuActive,#u3225:active
{
	min-height: 24px;
	margin: 0px;
}

#u3227-4
{
	min-height: 24px;
	top: 7px;
}

#u557.MuseMenuActive #u558-4,#u3225:active #u3227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u3225.MuseMenuActive,#u562:active
{
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive
{
	min-height: 24px;
	margin: 0px;
}

#u564-4
{
	min-height: 24px;
	top: 7px;
}

#u3225.MuseMenuActive #u3227-4,#u562:active #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u540,#u554,#u3222,#u561
{
	margin-top: 2px;
}

#menuu532-bw
{
	z-index: 297;
	min-height: 201px;
	margin-top: 4px;
}

#accordionu519-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 290;
	top: 130px;
}

#u619-6
{
	z-index: 284;
	width: 341px;
	min-height: 33px;
	top: 133px;
	left: 19px;
}

#u570
{
	z-index: 328;
	width: 301px;
	height: 43px;
	top: 133px;
	left: 79px;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u637-4
{
	z-index: 274;
	width: 49px;
	min-height: 24px;
	top: 144px;
	left: 30px;
}

#u456-6
{
	z-index: 278;
	min-height: 46px;
}

#u456-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 278;
	top: 176px;
}

#u3327
{
	z-index: 240;
	height: 36px;
	background-color: #4296CF;
}

#u3327-bw
{
	z-index: 240;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 221px;
}

#buttonu3328
{
	z-index: 241;
	width: 110px;
	border-color: #787878;
	background-color: #4296CF;
	border-radius: 10px;
	position: fixed;
	top: 221px;
	left: 10px;
}

#buttonu3328:hover
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u3329-5
{
	z-index: 242;
	width: 110px;
	min-height: 35px;
	background-color: #4296CF;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu3328:hover #u3329-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu3328:hover #u3329-5 p,#buttonu3328:hover #u3329-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu3330
{
	z-index: 247;
	width: 110px;
	border-color: #787878;
	background-color: #4296CF;
	border-radius: 10px;
	position: fixed;
	top: 221px;
	left: 125px;
}

#buttonu3330:hover
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3330:active
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u3331-5
{
	z-index: 248;
	width: 110px;
	min-height: 35px;
	background-color: #4296CF;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu3330:hover #u3331-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu3330:active #u3331-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu3330:hover #u3331-5 p,#buttonu3330:hover #u3331-5 span,#buttonu3330:active #u3331-5 p,#buttonu3330:active #u3331-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu3332
{
	z-index: 253;
	width: 110px;
	border-color: #787878;
	background-color: #4296CF;
	border-radius: 10px;
	position: fixed;
	top: 221px;
	left: 241px;
}

#buttonu3332:hover
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3328.ButtonSelected,#buttonu3330.ButtonSelected,#buttonu3332.ButtonSelected
{
	background-color: #E5EBFF;
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u3333-5
{
	z-index: 254;
	width: 110px;
	min-height: 35px;
	background-color: #4296CF;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu3332:hover #u3333-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu3328.ButtonSelected #u3329-5,#buttonu3330.ButtonSelected #u3331-5,#buttonu3332.ButtonSelected #u3333-5
{
	background-color: #E5EBFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu3332:hover #u3333-5 p,#buttonu3332:hover #u3333-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu3328.ButtonSelected #u3329-5 p,#buttonu3328.ButtonSelected #u3329-5 span,#buttonu3330.ButtonSelected #u3331-5 p,#buttonu3330.ButtonSelected #u3331-5 span,#buttonu3332.ButtonSelected #u3333-5 p,#buttonu3332.ButtonSelected #u3333-5 span
{
	color: #262916;
	visibility: inherit;
}

#u3329-3,#u3331-3,#u3333-3
{
	padding-top: 7px;
}

#pu3337
{
	width: 0.01px;
	margin-top: 126px;
}

#u3337
{
	z-index: 2;
	min-height: 2793px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../../images/u3337-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	padding-bottom: 173px;
}

#u3337::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u3338-237
{
	z-index: 3;
	width: 341px;
	min-height: 2738px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 19px;
}

#u3338-4
{
	font-size: 14px;
	text-align: left;
	line-height: 17px;
	letter-spacing: 1px;
	padding-top: 0px;
	color: #000000;
}

#u3338-14
{
	font-size: 16px;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 900;
	font-style: italic;
}

#u3338-19
{
	padding-left: 0px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3338-77
{
	line-height: 18px;
	color: #262916;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u3338-88
{
	text-align: center;
	line-height: 19px;
	color: #262916;
}

#u3338-87
{
	font-weight: 700;
	font-style: italic;
}

#u3338-89
{
	text-align: center;
	line-height: 19px;
}

#u3338-61,#u3338-64,#u3338-98,#u3338-101,#u3338-146,#u3338-149
{
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 700;
	line-height: 19px;
}

#u3338-193,#u3338-194
{
	text-align: center;
	line-height: 19px;
	color: #262916;
	font-weight: 700;
	font-style: italic;
}

#u3338-3,#u3338-92,#u3338-197
{
	line-height: 36px;
}

#u3338-24,#u3338-74,#u3338-111,#u3338-159,#u3338-199
{
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 18px;
}

#u3338-7,#u3338-12,#u3338-22,#u3338-25,#u3338-55,#u3338-58,#u3338-63,#u3338-66,#u3338-72,#u3338-75,#u3338-80,#u3338-83,#u3338-86,#u3338-95,#u3338-100,#u3338-103,#u3338-109,#u3338-112,#u3338-140,#u3338-143,#u3338-148,#u3338-151,#u3338-157,#u3338-160,#u3338-188,#u3338-191,#u3338-200,#u3338-218,#u3338-221,#u3338-224,#u3338-227,#u3338-230,#u3338-233
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3338-5,#u3338-10,#u3338-17,#u3338-20,#u3338-28,#u3338-33,#u3338-40,#u3338-45,#u3338-50,#u3338-53,#u3338-56,#u3338-69,#u3338-70,#u3338-78,#u3338-81,#u3338-84,#u3338-93,#u3338-106,#u3338-107,#u3338-115,#u3338-120,#u3338-125,#u3338-130,#u3338-135,#u3338-138,#u3338-141,#u3338-154,#u3338-155,#u3338-163,#u3338-168,#u3338-173,#u3338-178,#u3338-183,#u3338-186,#u3338-189,#u3338-203,#u3338-208,#u3338-213,#u3338-216,#u3338-219,#u3338-222,#u3338-225,#u3338-228,#u3338-231
{
	line-height: 17px;
}

#u3338-6,#u3338-11,#u3338-21,#u3338-23,#u3338-54,#u3338-57,#u3338-71,#u3338-73,#u3338-79,#u3338-82,#u3338-85,#u3338-94,#u3338-108,#u3338-110,#u3338-139,#u3338-142,#u3338-156,#u3338-158,#u3338-187,#u3338-190,#u3338-198,#u3338-217,#u3338-220,#u3338-223,#u3338-226,#u3338-229,#u3338-232
{
	line-height: 19px;
}

#u3338-9,#u3338-16,#u3338-18,#u3338-30,#u3338-35,#u3338-37,#u3338-42,#u3338-47,#u3338-52,#u3338-60,#u3338-62,#u3338-65,#u3338-97,#u3338-99,#u3338-102,#u3338-117,#u3338-122,#u3338-127,#u3338-132,#u3338-137,#u3338-145,#u3338-147,#u3338-150,#u3338-165,#u3338-170,#u3338-175,#u3338-180,#u3338-185,#u3338-205,#u3338-210,#u3338-215,#u3338-235
{
	line-height: 18px;
}

#u3337-bw
{
	z-index: 2;
	min-height: 2793px;
}

#schedule2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 938px;
	left: 10px;
}

#schedule3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2105px;
	left: 10px;
}

#u2116
{
	z-index: 333;
	width: 50px;
	height: 50px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 10px;
	position: fixed;
	top: 470px;
	left: 310px;
	background: #F2F5FF url("../../images/top_arrow-u2116-fr.png") no-repeat center center;
	background-color: rgba(229,235,255,0.5);
}

.js #u2116.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu451
{
	width: 0.01px;
	margin-top: 11px;
}

#u451,#u451-bw
{
	z-index: 262;
	height: 40px;
}

#u452-10
{
	z-index: 263;
	min-height: 32px;
}

#u452-10-bw
{
	z-index: 263;
	min-height: 32px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

