.version.schedule /* version checker */
{
	color: #00001F;
	background-color: #34D477;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/dc_bg_mobilemedium.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9749999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u618
{
	z-index: 273;
	height: 176px;
}

#u618-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 273;
	top: 0px;
}

#schedule1
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 19px;
}

#u454
{
	z-index: 330;
	width: 342px;
	margin-bottom: -11px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u454_img
{
	padding-bottom: 22px;
}

#u453,#u453-bw
{
	z-index: 329;
	min-height: 130px;
}

#accordionu519
{
	z-index: 290;
}

#u520
{
	z-index: 291;
}

#u521-3
{
	z-index: 292;
	min-height: 22px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u521-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u521-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 22px;
	margin: 0px;
}

#u522
{
	z-index: 295;
}

#u1640
{
	z-index: 296;
	width: 380px;
	height: 212px;
	margin-right: -10000px;
}

#menuu532
{
	z-index: 297;
	min-height: 201px;
}

#u536
{
	min-height: 24px;
	padding-bottom: 14px;
}

#u536:active
{
	min-height: 24px;
	margin: 0px;
}

#u537-4
{
	min-height: 24px;
	top: 7px;
}

#u536:active #u537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u541
{
	min-height: 24px;
	padding-bottom: 14px;
}

#u536.MuseMenuActive,#u541:active
{
	min-height: 24px;
	margin: 0px;
}

#u543-4
{
	min-height: 24px;
	top: 7px;
}

#u536.MuseMenuActive #u537-4,#u541:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u557
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u541.MuseMenuActive,#u557:active
{
	min-height: 24px;
	margin: 0px;
}

#u558-4
{
	min-height: 24px;
	top: 7px;
}

#u541.MuseMenuActive #u543-4,#u557:active #u558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u3225
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u557.MuseMenuActive,#u3225:active
{
	min-height: 24px;
	margin: 0px;
}

#u3227-4
{
	min-height: 24px;
	top: 7px;
}

#u557.MuseMenuActive #u558-4,#u3225:active #u3227-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562
{
	min-height: 24px;
	padding-bottom: 15px;
}

#u3225.MuseMenuActive,#u562:active
{
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive
{
	min-height: 24px;
	margin: 0px;
}

#u564-4
{
	min-height: 24px;
	top: 7px;
}

#u3225.MuseMenuActive #u3227-4,#u562:active #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u562.MuseMenuActive #u564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px;
}

#u540,#u554,#u3222,#u561
{
	margin-top: 2px;
}

#menuu532-bw
{
	z-index: 297;
	min-height: 201px;
	margin-top: 4px;
}

#accordionu519-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 290;
	top: 130px;
}

#u619-6
{
	z-index: 284;
	width: 341px;
	min-height: 33px;
	top: 133px;
	left: 19px;
}

#u570
{
	z-index: 328;
	width: 301px;
	height: 43px;
	top: 133px;
	left: 79px;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u637-4
{
	z-index: 274;
	width: 49px;
	min-height: 24px;
	top: 144px;
	left: 30px;
}

#u456-6
{
	z-index: 278;
	min-height: 46px;
}

#u456-6-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 278;
	top: 176px;
}

#u652
{
	z-index: 240;
	min-height: 36px;
	background-color: #4296CF;
}

#buttonu654
{
	z-index: 241;
	width: 110px;
	border-color: #787878;
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#buttonu654:hover
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u656-5
{
	z-index: 242;
	width: 110px;
	min-height: 35px;
	background-color: #4296CF;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu654:hover #u656-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu654:hover #u656-5 p,#buttonu654:hover #u656-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu662
{
	z-index: 247;
	width: 110px;
	border-color: #787878;
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#buttonu662:hover
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu662:active
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u663-5
{
	z-index: 248;
	width: 110px;
	min-height: 35px;
	background-color: #4296CF;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu662:hover #u663-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu662:active #u663-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu662:hover #u663-5 p,#buttonu662:hover #u663-5 span,#buttonu662:active #u663-5 p,#buttonu662:active #u663-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu664
{
	z-index: 253;
	width: 110px;
	border-color: #787878;
	background-color: #4296CF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 250px;
}

#buttonu664:hover
{
	background-color: #4296CF;
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu654.ButtonSelected,#buttonu662.ButtonSelected,#buttonu664.ButtonSelected
{
	background-color: #E5EBFF;
	width: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u665-5
{
	z-index: 254;
	width: 110px;
	min-height: 35px;
	background-color: #4296CF;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 24px;
	font-size: 20px;
	font-family: passion-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu664:hover #u665-5
{
	background-color: #4296CF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu654.ButtonSelected #u656-5,#buttonu662.ButtonSelected #u663-5,#buttonu664.ButtonSelected #u665-5
{
	background-color: #E5EBFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 110px;
	margin: 1px -10000px 0px 0px;
}

#buttonu664:hover #u665-5 p,#buttonu664:hover #u665-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu654.ButtonSelected #u656-5 p,#buttonu654.ButtonSelected #u656-5 span,#buttonu662.ButtonSelected #u663-5 p,#buttonu662.ButtonSelected #u663-5 span,#buttonu664.ButtonSelected #u665-5 p,#buttonu664.ButtonSelected #u665-5 span
{
	color: #262916;
	visibility: inherit;
}

#u656-3,#u663-3,#u665-3
{
	padding-top: 7px;
}

#u652-bw
{
	z-index: 240;
	min-height: 36px;
	margin-top: 92px;
}

#pschedule1,#pu594
{
	width: 0.01px;
}

#u594
{
	z-index: 2;
	min-height: 2791px;
	-pie-box-shadow: none;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.38);
	background: transparent url("../../images/u594-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.95)),color-stop(100%, rgba(229,235,255,0.95)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.95) ,rgba(229,235,255,0.95) 100%);
	padding-bottom: 175px;
}

#u594::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,0.07), inset -3px -3px 3px rgba(0,0,0,0.07);
}

#u646-237
{
	z-index: 3;
	width: 341px;
	min-height: 2738px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u646-4
{
	font-size: 14px;
	text-align: left;
	line-height: 17px;
	letter-spacing: 1px;
	padding-top: 0px;
	color: #000000;
}

#u646-14
{
	font-size: 16px;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 900;
	font-style: italic;
}

#u646-19
{
	padding-left: 0px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u646-77
{
	line-height: 18px;
	color: #FF0000;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u646-88
{
	text-align: center;
	line-height: 19px;
	color: #262916;
}

#u646-87
{
	font-weight: 700;
	font-style: italic;
}

#u646-89
{
	text-align: center;
	line-height: 19px;
}

#u646-61,#u646-64,#u646-98,#u646-101,#u646-146,#u646-149
{
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 700;
	line-height: 19px;
}

#u646-193,#u646-194
{
	text-align: center;
	line-height: 19px;
	color: #262916;
	font-weight: 700;
	font-style: italic;
}

#u646-3,#u646-92,#u646-197
{
	line-height: 36px;
}

#u646-24,#u646-74,#u646-111,#u646-159,#u646-199
{
	font-size: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 18px;
}

#u646-7,#u646-12,#u646-22,#u646-25,#u646-55,#u646-58,#u646-63,#u646-66,#u646-72,#u646-75,#u646-80,#u646-83,#u646-86,#u646-95,#u646-100,#u646-103,#u646-109,#u646-112,#u646-140,#u646-143,#u646-148,#u646-151,#u646-157,#u646-160,#u646-188,#u646-191,#u646-200,#u646-218,#u646-221,#u646-224,#u646-227,#u646-230,#u646-233
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u646-5,#u646-10,#u646-17,#u646-20,#u646-28,#u646-33,#u646-40,#u646-45,#u646-50,#u646-53,#u646-56,#u646-69,#u646-70,#u646-78,#u646-81,#u646-84,#u646-93,#u646-106,#u646-107,#u646-115,#u646-120,#u646-125,#u646-130,#u646-135,#u646-138,#u646-141,#u646-154,#u646-155,#u646-163,#u646-168,#u646-173,#u646-178,#u646-183,#u646-186,#u646-189,#u646-203,#u646-208,#u646-213,#u646-216,#u646-219,#u646-222,#u646-225,#u646-228,#u646-231
{
	line-height: 17px;
}

#u646-6,#u646-11,#u646-21,#u646-23,#u646-54,#u646-57,#u646-71,#u646-73,#u646-79,#u646-82,#u646-85,#u646-94,#u646-108,#u646-110,#u646-139,#u646-142,#u646-156,#u646-158,#u646-187,#u646-190,#u646-198,#u646-217,#u646-220,#u646-223,#u646-226,#u646-229,#u646-232
{
	line-height: 19px;
}

#u646-9,#u646-16,#u646-18,#u646-30,#u646-35,#u646-37,#u646-42,#u646-47,#u646-52,#u646-60,#u646-62,#u646-65,#u646-97,#u646-99,#u646-102,#u646-117,#u646-122,#u646-127,#u646-132,#u646-137,#u646-145,#u646-147,#u646-150,#u646-165,#u646-170,#u646-175,#u646-180,#u646-185,#u646-205,#u646-210,#u646-215,#u646-235
{
	line-height: 18px;
}

#u594-bw
{
	z-index: 2;
	min-height: 2791px;
}

#schedule2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 937px;
	left: 19px;
}

#schedule3
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2104px;
	left: 19px;
}

#pu451
{
	width: 0.01px;
	margin-top: 11px;
}

#u451,#u451-bw
{
	z-index: 262;
	height: 40px;
}

#u452-10
{
	z-index: 263;
	min-height: 32px;
}

#u452-10-bw
{
	z-index: 263;
	min-height: 32px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

